

/****************************
	variable
*****************************/

// color
$black: #000;
$white: #fff;
$pink: #fc5a8f;
$blue: #0038a8;
$gray: #999999;
$lightgray: #e5e5e5;
$gray_20: darken($gray,20%);
$gray_47: darken($gray,47%);
$red: #FF0000;
$lightPurple: #c6d1e8;
$btnBlue: #51A7F9;
$btnGreen: #70BF41;
$btnLightRed: #EC5D57;
$btnDarkRed: #C82506;
$btnOrange: #F39019;
$btnGray: #A6AAA9;

$fontOswald: 'Oswald', sans-serif;


/****************************
	mixin
*****************************/

// wrap
@mixin wrap {
	width: 100%;
}

// inner
@mixin inner {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

// image_text
@mixin image_text {
	font-size: 0;
	line-height: 0;
}

// image_center
@mixin image_center {
	margin-left: auto;
	margin-right: auto;
}

// w_100
@mixin w_100 {
	width: 100%;
	height: auto;
}

// h_100
@mixin h_100 {
	width: auto;
	height: 100%;
}

// letter-spacing
@mixin ls {
	letter-spacing: .05em;
}

// table cell middle
@mixin tablemid {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

// background for icons
@mixin bg_icons($bg_url) {
	background: url($bg_url) no-repeat center center;
	background-size: 100% auto;
}

// margin-top 40
@mixin w100_mt40 {
	width: 100%;
	margin: 40px auto 0;
}

// job category
@mixin job_category($color) {
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	color: $color;
	border: 1px solid $color;
	padding: 4px 7px;
	cursor: default;
}

// hover
@mixin hover {
	opacity: 0.8;
}

// button layout
@mixin universalbutton {
	width: 312px;
	text-align: center;
	padding: 16px 0;
	color: $blue;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	border: 1px solid $blue;
	border-radius: 30px;
	position: relative;
	transition: all .2s linear;
}

// button layout
@mixin universalbuttonhover {
	content: '';
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: -1px;
	left: -1px;
	border-radius: 30px;
	padding: 1px;
}

@mixin newsButton($bgcolor) {
	display: block;
	padding: 10px 5px;
	margin-top: 10px;
	background: $bgcolor;
	color: $white;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	transition: all .2s linear;

	&:hover {
		opacity: 0.8;
	}
}

@mixin removeButton {
	display: none;
	border-radius: 50px;
	background: $red;
	color: $white;
	position: absolute;
	text-decoration: none;
	right: 1%;
	top: 1%;
	z-index: 3;
	padding: 10px;
	height: 15px;
	transition: all .2s linear;

	&:hover {
		opacity: 0.6;
	}
}