@charset "UTF-8";
/*====================================================================
			INDEX
====================================================================*/
/*
● LAYOUT
● HEADER
● CONTENT
● SIDEBER
● 共通パーツ
● お知らせ一覧ページ
● お知らせ詳細ページ
● プロフィール > アカウント情報ページ
● プロフィール > 履歴書ページ
● 過去の閲覧履歴一覧ページ
*/




/*====================================================================
			LAYOUT
====================================================================*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,700');

/* display */
.db {display: block;}
.di {display: inline;}
.ib {display: inline-block;}
.dn {display: none;}

.flex {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
}
.flex-between {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
}
.flex-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari（PC）用 ---*/
  justify-content: center;
}
.flex-end {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: end;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: end;
  /*--- IE10 ---*/
  -webkit-justify-content: flex-end;
  /*--- safari（PC）用 ---*/
  justify-content: flex-end;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari（PC）用 ---*/
  align-items: center;
}
.flex-self-center {
  -ms-flex-flex-item-align: center;
  /*--- IE10 ---*/
  -webkit-align-self: center;
  /*--- safari（PC）用 ---*/
  align-self: center;
}
.flex-self-end {
  -ms-flex-flex-item-align: flex-end;
  /*--- IE10 ---*/
  -webkit-align-self: flex-end;
  /*--- safari（PC）用 ---*/
  align-self: flex-end;
}
.flex-self-start {
  -ms-flex-flex-item-align: flex-start;
  /*--- IE10 ---*/
  -webkit-align-self: flex-start;
  /*--- safari（PC）用 ---*/
  align-self: flex-start;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* text-align */
.ta_c {text-align: center;}
.ta_l {text-align: left;}
.ta_r {text-align: right;}


/* text-align */
.va_t {vertical-align: top;}
.va_m {vertical-align: middle;}
.va_b {vertical-align: bottom;}


/**/
.br-none br {
  display: none;
}
.text-ry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-none {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.box-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #2f2f2f;
  text-decoration: none;
}


/* RESET */
body {
  background: #f5f6f9 !important;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
*,
::before,
::after {
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
}
* {
  background-repeat: no-repeat;
  /* 1 */
  padding: 0;
  /* 2 */
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
  /* 1 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
small {
  font-size: 80%;
  /* 1 */
}
[hidden],
template {
  display: none;
  /* 1 */
}
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */
}
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
  /* 1 */
}
ul {
  list-style-type: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
}
b,
strong {
  font-weight: bolder;
  /* 1 */
}
dfn {
  font-style: italic;
  /* 1 */
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
input {
  border-radius: 0;
}
[type="number"] {
  width: auto;
  /* 1 */
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* 1 */
}
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
}
optgroup {
  font-weight: bold;
  /* 1 */
}
button {
  overflow: visible;
  /* 1 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
button,
select {
  text-transform: none;
  /* 1 */
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  /* 1*/
  -webkit-appearance: none;
  /* 2 */
}
select::-ms-expand {
  display: none;
  /* 1 */
}
select::-ms-value {
  color: currentColor;
  /* 1 */
}
legend {
  border: 0;
  /* 1*/
  color: inherit;
  /* 2 */
  display: table;
  /* 3 */
  max-width: 100%;
  /* 4 */
  white-space: normal;
  /* 5 */
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
img {
  border-style: none;
  /* 1 */
}
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
  /* 1 */
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
/* INTERFACE */
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.4rem;
  color: #212121;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animated {
  opacity: 0;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0038a8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn__add  {
  display: inline-block;
  height: 45px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn__add:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.btn__add:focus {
  background-color: #fff;
  color: #3b79f2;
}


.submit_button {
    display: inline-block;
    margin-top: 34px;
    width: 312px;
    text-align: center;
    padding: 16px 0;
    color: #0038a8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    border: 1px solid #0038a8;
    border-radius: 30px;
    position: relative;
    transition: all .2s linear;
    background: #fff;
    margin-top: -10px;
}

.submit_button:hover {
    color: white;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
}





.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #d34031;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ac3125;
  border-color: #d34031;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 35px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
select {
  padding: 0 10px;
  line-height: 35px;
}

/* #txt_applicant_profile_password,
#txt_applicant_profile_password_confirmation {
  margin: 10px 0;
  display: block;
} */
/* Removes awkward default styles on some inputs for iOS */
input[type="textarea"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="textarea"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #3b79f2;
  outline: 0;
}
label,
legend {
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: normal;
  line-height: 1.5em;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-input {
  display: none;
}
.checkbox-wrapper .checkbox-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts {
  color: #169d5a;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #169d5a;
  border-right: 3px solid #169d5a;
}
.modal .checkbox {
  display: none;
}
/* Gray background */
.modal .modal-overlay {
  opacity: 0;
  transition: all 0.3s ease;
  width: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: none;
  background-color: rgba(50, 50, 50, 0.7);
}
/* Box */
.modal .modal-wrap {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
  padding: 40px 50px;
  width: 60%;
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.modal .modal-wrap.small {
  width: 30%;
}
.modal .modal-wrap.full {
  width: 100%;
  height: 100%;
}
.modal .modal-wrap.a-center {
  align-self: center;
}
.modal .modal-wrap.from-left {
  transform: translateX(-100%);
}
.modal .modal-wrap.from-right {
  transform: translateX(100%);
}
.modal .modal-wrap.from-top {
  transform: translateY(-100%);
}
.modal .modal-wrap.from-bottom {
  transform: translateY(100%);
}
/* Close button */
.modal .modal-overlay .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close svg.icon {
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close:hover {
  cursor: pointer;
  color: #4b5361;
}
.modal .o-close {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}
.modal input:checked ~ .o-close {
  z-index: 9998;
}
.modal input:checked ~ .modal-overlay {
  transform: scale(1);
  opacity: 1;
  z-index: 9997;
  overflow: auto;
  display: flex;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(0);
  z-index: 9999;
}


/* Responsive Design */
/* Tablet size */
@media (max-width: 800px) {
  .modal .modal-wrap {
    width: 80%;
    padding: 20px;
  }
}
/* Phone size */
@media (max-width: 500px) {
  .modal .modal-wrap {
    width: 90%;
  }
}
/* Fadein from display:none */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
.panel {
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  background-color: #fff;
}
.panel .inner {
  padding: 30px 50px;
}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.cf {
  zoom: 1;
}
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
p {
  font-size: 1.4rem;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #0038a8;
}
a.btn {
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  margin-bottom: 30px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
a.btn:hover {
  background-color: #fff;
  color: #3b79f2;
}
a.btn.alt-btn {
  background-color: #fff;
  color: #3b79f2;
}
a.btn.alt-btn:hover {
  background-color: #3b79f2;
  color: #fff;
}
a.btn.red {
  background-color: #d34031;
}
a.btn.red:hover {
  background-color: #ac3125;
}
a.btn.blue {
  background-color: #3b79f2;
}
a.btn.blue:hover {
  background-color: #105aea;
}
a.btn.green {
  background-color: #169d5a;
}
a.btn.green:hover {
  background-color: #107040;
}
a.btn.grey {
  background-color: #333;
}
a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.btn-wrapper {
  padding: 10px;
  text-align: center;
}
div.btn-wrapper a.btn {
  margin: 10px;
}
span.red {
  color: #d34031;
}
span.blue {
  color: #3b79f2;
}
span.green {
  color: #169d5a;
}
span.bold {
  color: #333;
  font-weight: bold;
}
small {
  font-size: 1.2rem;
}


/* float */
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.right {
  float: right;
  /* text-align: right; */
  word-break: break-all;
}

.left {
  float: left;
}




/*====================================================================
			HEADER
====================================================================*/
header#global-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header#global-header div.inner {
  height: 80px;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}
header#global-header div.inner figure.logo {
  float: left;
  width: 150px;
  margin: 0;
}
header#global-header div.inner figure.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner figure.logo a:hover {
  opacity: 0.8;
}
header#global-header div.inner figure.logo a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
header#global-header div.inner ul.function-menu {
  float: right;
  display: inline-block;
  padding: 7px 0 0;
}
header#global-header div.inner ul.function-menu li.function {
  float: left;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
header#global-header div.inner ul.function-menu li.function span.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip {
  display: none;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: -15px;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:after {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #e5e5e5;
  position: absolute;
  right: 20px;
  top: -21px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item span.user-icon {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #8a8a8a;
}
header#global-header div.inner ul.function-menu li.function.notice span.icon {
  background-image: url(../../images/common/icon/header-notice.png);
  position: relative;
}
header#global-header div.inner ul.function-menu li.function.notice span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip {
  width: 300px;
  overflow-y: auto;
  max-height: 265px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: right;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item p.text {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more {
  background-color: #3b79f2;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
header#global-header div.inner ul.function-menu li.function.applicant span.icon {
  background-image: url(../../images/common/icon/header-comment.png);
  position: relative;
}
header#global-header div.inner ul.function-menu li.function.applicant span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip {
  width: 300px;
  overflow-y: auto;
  max-height: 265px;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  overflow: hidden;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item p{
  text-align: right;
  font-family: "DINPro Medium";
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item span.user-icon {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #8a8a8a;
  margin-left: 20px;
  margin-top: 5px;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.item p.text {
  float: right;
  width: calc(100% - 40px);
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.read-more {
  background-color: #3b79f2;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.applicant ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
header#global-header div.inner ul.function-menu li.function.user span.icon {
  /* background-image: url(../../images/common/icon/header-user.png); */
  background-color: #0038a8;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip {
  width: 150px;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:last-child {
  margin: 0;
  border-bottom: none;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}




/*====================================================================
			CONTENT
====================================================================*/
.responsive__container {
  width: 100%;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  min-height: 80vh;
  width: 1100px;
  padding: 25px 0;
  margin-left: auto;
  margin-right: auto;
}




/*====================================================================
			SIDEBER
====================================================================*/
.global-nav .list .side_top_icon {
  width: 284px;
  background-color: #fff;
  text-align: center;
  font-family: "DINPro Medium";
  padding: 30px 0 20px 0;
  border-bottom: 1px #e5e5e5 solid;
}

.global-nav .list .side_top_icon .side_top_icon_img .icon__img {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
}

.global-nav .list .side_top_icon .side_top_icon_img .icon__img img {
  width: 100%;
  height: auto;
  min-height: 92px;
}

.global-nav .list .side_top_icon .side_wrapper .caption {
  margin-top: 10px;
  font-size: 18px;
}

/*サイドリストアイテム*/

.global-nav .list {
  box-shadow:0px 0px 7px 3px #eeeff2;
  -moz-box-shadow:0px 0px 7px 3px #eeeff2;
  -webkit-box-shadow:0px 0px 7px 3px #eeeff2;
}

.global-nav .list .item {
  border-bottom: 1px #e5e5e5 solid;
  background-color: #fff;
  height:70px;
  font-size: 15px;
}

.global-nav .list .law1 a:hover {
  color: #0038a8;
  background-image: url(../../images/applicant/img-side-icon06-hv.png);
}

.global-nav .list .law2 a:hover {
  color: #0038a8;
   background-image: url(../../images/applicant/img-side-icon07-hv.png);
}

.global-nav .list .law3 a:hover {
  color: #0038a8;
  background-image: url(../../images/applicant/img-side-icon05-hv.png);
}

.global-nav .list .law4 a:hover {
  color: #0038a8;
  background-image: url(../../images/applicant/img-side-icon04-hv.png);
}

.global-nav .list .law5 a:hover {
  color: #0038a8;
  background-image: url(../../images/applicant/img-side-icon03-hv.png);
}

.global-nav .list .law6 a:hover {
  color: #0038a8;
  background-image: url(../../images/applicant/img-side-icon02-hv.png);
}

.global-nav .list .law7 a:hover {
  color: #0038a8;
}

.global-nav .list .law8 a:hover {
  color: #0038a8;
}

.global-nav .list .law1 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon06.png);
}

.global-nav .list .law2 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon07.png);
}

.global-nav .list .law3 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon05.png);
}

.global-nav .list .law4 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon04.png);
}

.global-nav .list .law5 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon03.png);
}

.global-nav .list .law6 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  background-position: 40px center;
  background-size: 20px;
  background-image: url(../../images/applicant/img-side-icon02.png);
}

.global-nav .list .law6 {
    position: relative;
}
.global-nav .list .law6 .btn_pulldown {
    position: absolute;
    top: 50%;
    right: 35px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    cursor: pointer;
}
.global-nav .list .law6 .btn_img {
    width: 100%;
}
.global-nav .list .law6 .profile_lower .btn_img {
    display: none;
}
.global-nav .list .law6 .profile_lower .btn_img.on_off {
    display: block;
}

.global-nav .list .child_pulldown {display: none;}
.global-nav .list .child_pulldown.profile_lower {display: block;}

.global-nav .list .law7 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
}

.global-nav .list .law8 a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 80px;
  line-height: 70px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
}


/* current */
.mypageAnnoucements .global-nav .list .law1 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon06-hv.png);
}
.mypageComments .global-nav .list .law2 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon07-hv.png);
}
.mypageApplications-history .global-nav .list .law3 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon05-hv.png);
}
.mypageBrowsing-history .global-nav .list .law4 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon04-hv.png);
}
.mypageScout .global-nav .list .law5 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon03-hv.png);
}
.mypageProfile .global-nav .list .law6 a,
.mypageAccount-Information .global-nav .list .law6 a,
.mypageResume .global-nav .list .law6 a {
    color: #0038a8;
    background-image: url(../../images/applicant/img-side-icon02-hv.png);
}
.mypageAccount-Information .global-nav .list .law7 a {
    color: #0038a8;
}
.mypageResume .global-nav .list .law8 a {
    color: #0038a8;
}

#replyScoutApplicantConvo {
  margin: 25px 0 0;
}

#btnCloseCompose {
  font-size: 15px;
  font-weight: bold;
}

.dvMainButtons, .dvConfirmButtons {
  padding-top: 35px;
}

.dvMainButtons a:hover, .dvConfirmButtons a:hover {
  color: #3b79f2;
}

/*====================================================================
			共通パーツ
====================================================================*/
/* 表示切り替え */
.on_off {display: none;}


/* hover */
.op06:hover {
    opacity: 0.6;
}
.trs02:hover {
    -webkit-transition: 0.2em;
    -o-transition: 0.2em;
    transition: 0.2em;
}


/*========================
    メールアイコン
========================*/
.icon_mail {
    width: 33px;
    height: 26px;
    background: url('../../images/applicant/icon_mail.png') no-repeat;
    background-size: 100% auto;
    transition: all .2s linear;
}

.icon_mail:hover {
  opacity: .7;
}

/*========================
    削除アイコン
========================*/
.icon_delete {
    width: 40px;
    height: 40px;
    background: url('../../images/applicant/icon_delete.png') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}



/*========================
    ラベル
========================*/
.label {
    width: 150px;
    padding: 5px 0 !important;
    border: 1px solid #cecbca;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
}
.label.label_long {
    width: 200px;
}
.label.red {
    border: 1px solid #ce1f12;
    background: #ce1f12;
    color: #fff;
}
.label.red:hover {
    background: #fff;
    color: #ce1f12;
}
.label.blue {
    border: 1px solid #36a9f6;
    background: #36a9f6;
    color: #fff;
}
.label.blue:hover {
    background: #fff;
    color: #36a9f6;
}
.label.green {
    border: 1px solid #6fbf4b;
    background: #6fbf4b;
    color: #fff;
}
.label.green:hover {
    background: #fff;
    color: #6fbf4b;
}
.label.orange {
    border: 1px solid #fa8e2c;
    background: #fa8e2c;
    color: #fff;
}
.label.orange:hover {
    background: #fff;
    color: #fa8e2c;
}
.label.grey {
    border: 1px solid #a6aaa9;
    background: #a6aaa9;
    color: #fff;
}
.label.grey:hover {
    background: #fff;
    color: #a6aaa9;
}
.label.lightgrey {
    border: 1px solid #dcdee0;
    background: #dcdee0;
    color: #fff;
}
.label.lightgrey:hover {
    background: #fff;
    color: #dcdee0;
}


/*========================
    コメントリスト
========================*/
.comment_list {
    width: 800px;
    background-color: #ffffff;
    box-shadow:0px 0px 7px 3px #eeeff2;
    -moz-box-shadow:0px 0px 7px 3px #eeeff2;
    -webkit-box-shadow:0px 0px 7px 3px #eeeff2;
}


/*リストタイトル*/
.comment_list .list_title_wrap {
    padding: 20px 20px;
    border-bottom: 1px #e5e5e5 solid;
}

.comment_list .list_title_wrap .list_title {
    float: left;
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.025em;
}

.comment_list .list_title_wrap .list_sort {
  float: right;
}

.comment_list .list_title_wrap .list_title .link:hover {
    opacity: 0.6;
}

.comment_list .list_info .link_post:hover {
  text-decoration: none;
}

/* リスト */
.comment_list .no-new-announcements {
    padding: 25px;
    border-bottom: 1px #e5e5e5 solid;
}
.comment_list .no-new-announcements p {
    margin: unset;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.comment_list .list_info {
    padding: 10px 25px;
    border-bottom: 1px #e5e5e5 solid;
    text-align: left;
}

.comment_list .list_info .link_post {
    position: relative;
    padding: 35px 50px;
    color: #212121;
    font-size: 15px;
    line-height: 1;
}
.comment_list .list_info:hover {
    background-color: #f8f9fb;
}
.detail_page .comment_list .list_info .link_post:hover {
    background-color: #fff;
}

.comment_list .list_info_title {
    color: #212121;
    font-size: 19px;
    margin-left: -6px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.comment_list .list_info_title a:hover {
  text-decoration: none;
}

.comment_list .list_info .inner {
    position: relative;
}

.comment_list .office_name {
    margin-top: 15px;
    margin-left: -6px;
    font-size: 15px;
    font-weight: normal;
}

.comment_list .info {
    margin-top: 7px;
    width: 85%;
    float: left;
}
.comment_list .info_02 {
    margin-left: 50px;
}


/* コメント数 */
.comment_list .comment { float: right; position: relative; font-size: 15px; color: #858585; line-height: 1; width: 15%; transition: all .2s linear; }
.comment_list .comment:hover { opacity: .7; }
.comment_list .comment:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url('../../images/applicant/img-main-icon01.png') no-repeat center top;
  background-size: 100% auto;
}

.comment_list .comment span {
  margin-left: 25px;
}

/* ラベル */
.comment_list .label {
    position: absolute;
    top: 16px;
    right: 50px;
    font-size: 14px;
    transition: all .2s linear;
}

.comment_list .label:hover {
  opacity: .7;
}

/* メールアイコン */
.comment_list .icon_mail {
    position: absolute;
    top: 16px;
    right: 0;
}


/* 削除アイコン */
.comment_list .icon_delete {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

#so_job_application_detail_status {
  width: auto;
  padding: 5px 15px !important;
}

/*========================
    フォーム
========================*/
.form_area {
    padding: 35px 50px;
    color: #212121;
    font-size: 15px;
    line-height: 1;
}

.form_area table {
    width: 100%;
}
.form_area th,
.form_area td {
    padding: 10px 0 10px 30px;
    border-bottom: 1px dashed #cdc9c9;
    vertical-align: top;
}
.form_area th {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.form_area #txt_applicant_profile_postalcode {
    border: solid 1px slategray;
    padding: 6px 10px;
}

.form_area .required {
    margin-top: 3px;
    margin-left: 6px;
    padding: 4px 8px 5px;
    border-radius: 2px;
    color: #fff;
    background: #ce1f12;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.025em;
}

.form_area input.short_input {
    width: 50%;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
}
.form_area input.long_input {
    width: 100%;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
}

.form_area textarea {
    width: 100%;
    height: 120px;
    color: #000;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 2px;
}

.form_area select {
    background: url('../../images/applicant/icon_select.png') no-repeat right 5px center;
    background-size: auto 8px;
    font-size: 13px;
    line-height: 1;
}

.form_area .two_clm_input {
    width: 48%;
    height: 20px;
    line-height: 1;
}
.form_area .two_clm_input:last-child {
    margin-left: 4%;
}

.dvRemoveCommunication { text-align: right; padding-top: 10px; }
.dvRemoveCollege, .dvRemoveWorkexp { text-align: right; padding: 10px; }
.dvRemoveCommunication button:hover, .dvRemoveCollege button:hover, .dvRemoveWorkexp button:hover { opacity: .7; }
.dvRemoveCommunication button , .dvRemoveWorkexp button , .dvRemoveCollege button { padding: 5px 6px 4px 7px; height: auto; background-color: #e46052; color: #fff; font-size: 10px; font-weight: bold;  border-radius: 50%; margin-bottom: 5px; border: none;}
.dvRemoveWorkexp{ margin-top: 10px; width: 100%; }

.skill_qualification {
  margin-top: 12px;
}
.form_area .three_clm_input {
    width: 32%;
    height: 25px;
    line-height: 1;
    margin-right: 1%;
    border-radius: 4px;
}

.form_area .btn_wrap {
    margin-top: 40px;
}

.form_area .mt10 {
    margin-top: 10px;
}
.form_area .link {
    margin-left: 30px;
}


/*========================
    詳細ページコンテンツ
========================*/
.detail_contents {
    padding: 35px 50px;
    background: #e5e5e5;
}

.chat_area.layout_2clm {
  position: relative;
}

.left:hover + .icon__username,
.right:hover + .icon__username {
  /*display: none;*/
  display: block;
  margin: 60px 50px;
}

.right + .icon__username {
  top: 0%;
  right: -85px;
}

.left + .icon__username {
  top: 0%;
  left: -85px;
}

.icon__username {
  display: none;
  position: absolute;
  padding: 3px 10px 0;
  width: 120px;
  color: #fff;
  background: rgba(0,0,0, .4);
  text-align: center;
  z-index: 1;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
}

.icon__username .message__date {
  display: block;
  font-size: 10px;
  padding: 3px 0;
}

.detail_contents .chat_area.layout_2clm .icon {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
}
.detail_contents .chat_area.layout_2clm .icon.left {
  margin-left: 0;
}
.detail_contents .chat_area.layout_2clm .icon.right {
  margin-right: 0;
}

.detail_contents .chat_area.layout_2clm .icon img {
    width: 100%;
    height: auto;
    min-height: 50px;
}

.detail_contents .chat_area.layout_2clm .text {
    width: calc(100% - 70px);
    padding: 20px;
    border-radius: 20px;
    background: #fff;
}

.detail_contents .form_area {
    padding: 0;
    margin-top: 30px;
}

.detail_contents .form_area.layout_2clm textarea {
    width: calc(100% - 160px);
}

.detail_contents .form_area.layout_2clm .btn_submit {
    margin-top: 75px;
}


/*========================
    詳細ページのチャット
========================*/
.detail_contents_chat {
    padding: 60px 40px;
    background: #fff;
}

/* タブ */
.detail_contents_chat .tab_area {
    background: #fff;
}
.detail_contents_chat .tab {
    padding: 10px 80px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    background: #e5e5e5;
    border-radius: 4px 4px 0 0;
    letter-spacing: 0.025em;
    cursor: pointer;
}
.detail_contents_chat .tab:hover {
    opacity: 0.6;
}

.detail_contents_chat .tab.active {
    border-bottom: 1px solid #fffffe;
    background: #fffffe;
    cursor: auto;
}
.detail_contents_chat .tab.active:hover {
    opacity: 1;
}


/* チャットリスト */
.detail_contents_chat .chat_list {
    margin-top: -1px;
    border: 1px solid #ccc;
}

.detail_contents_chat .cloesed_chat {
    position: relative;
    background: #fffffe;
    padding: 15px 20px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}
.detail_contents_chat .cloesed_chat:first-of-type {
    border-top: none;
}
.detail_contents_chat .cloesed_chat .btn_pulldown {
    position: absolute;
    top: 50%;
    right: 35px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
}

.detail_contents_chat .cloesed_chat .btn_img {
    width: 100%;
}

.detail_contents_chat .cloesed_chat .text {
    width: calc(100% - 90px);
    padding-left: 20px;
    /*white-space: pre-line;*/
}
.detail_contents_chat p { margin: 0px 0px 15px 0px; max-width: 50%;}

.detail_contents_chat span.head_date {font-size:12px; text-align:center;display:block; }

.detail_contents_chat .opened_chat {
    background: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 35px 50px 0 50px;
    overflow-y:auto;
    max-height: 500px;
}

.detail_contents_chat .opened_chat .messages_container{
    /* max-height: 325px; */
    overflow-y: visible;
    /* width: calc(100% + 50px); */
    /* height: calc(100% + 35px); */
    margin-top: -35px;
    /* padding-right: 50px; */
}
.detail_contents_chat .opened_chat .messages_container::-webkit-scrollbar {
  width: 5px;
}
.detail_contents_chat .opened_chat .messages_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.detail_contents_chat .opened_chat .messages_container::-webkit-scrollbar-thumb {
  background: #888;
}
.detail_contents_chat .opened_chat .messages_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.detail_contents_chat .opened_chat .reply_container {
  padding-bottom: 50px;
}

/* フォーム */
.detail_contents_chat .opened_chat {
    display: none;
}

.detail_contents_chat .btn_reply {
    padding: 0 40px;
    padding: 15px 40px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    background-color: #3b79f2;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.detail_contents_chat .btn_reply:hover,
.detail_contents_chat .btn_reply:focus {
    background-color: #105aea;
    border-color: #3b79f2;
    outline: 0;
}

.detail_contents_chat .opened_chat_send .form_area {
    margin-top: 0;
}

.detail_contents_chat .opened_chat_send .form_area th,
.detail_contents_chat .opened_chat_send .form_area td {
    display: block;
    padding: 0;
    border: none;
}

.detail_contents_chat .opened_chat_send.confirm .form_area {
    margin-top: 30px;
}

.detail_contents_chat .opened_chat_send.confirm .form_area table {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #fff;
}

.detail_contents_chat .opened_chat_send.confirm .form_area th,
.detail_contents_chat .opened_chat_send.confirm .form_area td {
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: top;
    line-height: 1.5;
}
.detail_contents_chat .opened_chat_send.confirm .form_area th {
    width: 5em;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
}
.detail_contents_chat .opened_chat_send.confirm .form_area td {
    font-size: 13px;
}

.detail_contents_chat .opened_chat_send .sub_title {
    margin: 20px 0 5px;
    font-size: 15px;
    font-weight: normal;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
.detail_contents_chat .send_mail_area .sub_title:first-of-type {
    margin-top: 0;
}

.detail_contents_chat .status_box {
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid  #aaa;
}

.detail_contents_chat .status_box .label {
    position: static;
}

.detail_contents_chat .status_box select {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0 15px;
}



/*====================================================================
			お知らせ一覧ページ
====================================================================*/
.mypageAnnoucements .comment_list .time {
    font-size: 13px;
}
.mypageAnnoucements .comment_list .label {
    position: static;
    margin-top: 5px;
    display: block;
    font-size: 14px;
}

.mypageAnnoucements .comment_list .right_box {
    width: 450px;
    text-align: left;
    padding-left: 50px;
}

.mypageAnnoucements .comment_list .right_box .sub_title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
}
.mypageAnnoucements .comment_list .right_box .text {
    line-height: 1.5;
}

#announcement_back {
  margin: 30px 340px;
  border-radius: .25em;
}


/*====================================================================
			お知らせ詳細ページ
====================================================================*/
.mypageAnnoucements.detail_page .comment_list .right_box {
    width: 100%;
    margin-top: 20px;
}



/*====================================================================
			プロフィール > アカウント情報ページ
====================================================================*/
.mypageAccount-Information .form_area th {
  min-width: 250px;
}
.btn__save {
  color: #fff;
}
.space__gap {
  padding: 0 10px;
}
.space__gap::before{
  content: '';
}

.profilepic__container {
  display: table;
}

.profilepic__container * {
  display: table-cell;
  vertical-align: middle;
}

.profilepic__container div .image__container {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profilepic__container .image__container img {
  width: 100%;
  height: auto;
  min-height: 50px;
}


/*====================================================================
			プロフィール > 履歴書ページ
====================================================================*/
.mypageResume .form_area tr th:first-child { min-width: 225px; position: relative; }

.mypageResume .form_area .inner_table th,
.mypageResume .form_area .inner_table td {
    border-bottom: none;
}
.mypageResume .form_area .inner_table th {
    width: 110px;
    padding-left: 0;
    min-width: auto !important;
}
.mypageResume .form_area .inner_table_occupation th,
.mypageResume .form_area .inner_table_occupation td {
    border-bottom: none;
}
.mypageResume .form_area .inner_table_occupation th {
    width: 110px;
    padding-left: 0;
}
.mypageResume .form_area .inner_table .left_area,
.mypageResume .form_area .inner_table .right_area {
    width: calc((100% - 25px) / 2);
}
.mypageResume .form_area .inner_table .left_area select,
.mypageResume .form_area .inner_table .right_area select {
  width: 48%;
  height: 25px;
  line-height: 1;
  margin-right: 3px;
}

.mypageResume .form_area .inner_table .middle_text {
  width: 25px;
  padding: 0 5px;
}
.mypageResume .form_area .inner_table .middle_text:last-child { margin-right: 0; }
.mypageResume .required {
  position: absolute;
  top: 10px;
  right: 0;
}
.mypageResume .inner_table_occupation input[type="text"] { margin-top: 0; }
.mypageResume .inner_table_occupation th:first-child { min-width: auto !important; }
.mypageResume .form_area .inner_table .in__between { height: 25px; margin-left: -2px; padding-top: 5px; }
.mypageResume .form_area .three_clm_input { font-size: 13px; }
.btn__add { float: right; padding: 0px 35px; height: 40px; line-height: 40px; }
.btn__add:hover, .btn__add:focus { text-decoration: none; }


/*====================================================================
			過去の閲覧履歴一覧ページ
====================================================================*/
.mypageBrowsing-history .comment_list .list_info {
    position: relative;
}

.mypageBrowsing-history .comment_list .list_info .link_post {
    position: static;
}
.mypageBrowsing-history .comment_list .list_info .link_post:hover {
    background: #fff;
}


/*====================================================================
  TOOLTIP
====================================================================*/

.icon.left {
  margin-right: 10px;
}

.icon.right {
  margin-left: 10px;
}

.icon.right:hover + .user__name {
  display: block;
}

.icon.right + .user__name {
  position: absolute;
  top: 55px;
  right: -39px;
}

.icon.left:hover + .user__name {
  display: block;
}

.icon.left + .user__name {
  position: absolute;
  top: 55px;
  left: -39px;
}

.user__name {
  display: none;
  width: 130px;
  padding: 3px 10px;
  background: rgba(0,0,0, .4);
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3px;
  z-index: 1;
}

.user__name .date {
  margin-top: 3px;
  font-size: 10px;
  display: block;
}

/***********************************************
  COMMENT DATE
************************************************/
.detail_contents .chat_area.layout_2clm .text {
  position: relative;
}

.detail_contents .chat_area.layout_2clm .text.right {
  text-align: right;
}

.detail_contents_chat .chat_area.layout_2clm {
  margin-top: 15px;
}


.ui-datepicker-month,
.ui-datepicker-year {
  height: auto;
  border-radius: 2px;
}

.datepicker {
  font-size: 13px;
}

/**********************
  COMPANY - SCOUT VIEW CHOOSE
**********************/

.scoutchoose-view .dvConfirmButtons {
  display: inline-block;
}

.scoutchoose-view .dvConfirmButtons * {
  float: left;
  min-width: 125px;
}

.scoutchoose-view .dvConfirmButtons a {
  margin-right: 5px;
  height: 45px !important;
  line-height: 45px !important;
  background: #fff !important;
  color: #3b79f2 !important;
  border: 1px solid #3b79f2;
}

.scoutchoose-view .dvConfirmButtons a:hover {
  background: #3b79f2 !important;
  color: #fff !important;
}

.scoutchoose-view .dvConfirmButtons *:hover,
.scoutchoose-view .dvConfirmButtons *:focus {
  color: #fff;
}

.scoutchoose-view .dvMainButtons,
.scoutchoose-view .dvConfirmButtons {
  padding-top: 15px;
  padding-bottom: 20px;
}

.scoutchoose-view .detail_contents_chat {
  background: #f8f9fb;
}
.scoutchoose-view .detail_contents_chat .tab_area {
  background: #f8f9fb;
}

/**********************
  USER - SCOUT VIEW CHOOSE
**********************/

.user-scoutdetail .dvConfirmButtons {
  display: inline-block;
}

.user-scoutdetail .dvConfirmButtons * {
  float: left;
  min-width: 125px;
}

.user-scoutdetail .dvConfirmButtons a {
  margin-right: 5px;
  height: 45px !important;
  line-height: 45px !important;
  background: #fff !important;
  color: #3b79f2 !important;
  border: 1px solid #3b79f2;
}

.user-scoutdetail .dvConfirmButtons a:hover {
  background: #3b79f2 !important;
  color: #fff !important;
}

.user-scoutdetail .dvConfirmButtons *:hover,
.user-scoutdetail .dvConfirmButtons *:focus {
  color: #fff;
}

.user-scoutdetail .dvMainButtons,
.user-scoutdetail .dvConfirmButtons {
  padding-top: 15px;
  padding-bottom: 20px;
}

.user-scoutdetail #replyScoutApplicantConvo {
  margin: 0;
}

.top .job_pagination {
  margin: 30px auto 25px !important;
}

.cSoYearFrom,
.cSoYearTo {
  width: 43% !important;
}

.cSoMonthFrom,
.cSoMonthTo {
  width: 55% !important;
}

@media only screen and (max-width: 767px) {
  .responsive__container {
    width: 100%;
    overflow: auto;
  }
}


.skill_language_group {
  margin-top: 25px;
}

/************************************************/
/*Added by Alvin for admin/inquiry/details.blade.php*/
.message_contents{
  word-wrap: break-word;
  max-width: calc(100% - 50%);
  padding: 15px;
  border-radius: 4px;
  background: #0F98E7;
  color: white;
  display:block;
  float:right;
}

.message_contents.left{
  background-color: #fff;
  color: #333131;
  float:left;
  max-width: calc(100% - 50%);
}


/* application history */
.applicationHistory .detail_contents {
  background-color: #f8f9fb;
}
.applicationHistory .detail_contents .tab_area {
  background-color: #f8f9fb;
}

#applicantCloseIcon{
  width: 15px;
  height: 20px;
  border-style: none;
  margin-right: -23px;
  margin-top: 3px;
}

.noMessage {
  /* margin: -20px 0px 0px 0px; */
  margin-top: -10px;
  padding-bottom: 22px;
}

#btnEditProfile, #btnSaveProfile, #btnEditProfileHistory, #btnSaveProfileHistory {
  width: 80px;
  height: 35px;
  padding: 0px;
  margin: 10px 0px;
  font-weight: bold;
}

#txt_applicant_profile_birthdate{
  border-radius: 5px;
  width: 100px;
  height: 25px;
  font-size: 14px;
}

.hiddenIcon {
  display: none;
}

.no-records{
  margin: unset;
    text-align: center;
    vertical-align: middle;
    height: 70px;
    margin-top: -10px;
    background-color: #FFF;
}

.no-records p {
  padding-top: 25px;
  font-weight: bold;
}