﻿@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: Helvetica Neue, Helvetica, Arial, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    color: #fff;
    background: #ccc;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #ccc;
    text-shadow: none
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5)
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 5px;
    font-weight: normal
}

img {
    border: none;
    vertical-align: text-bottom
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

figure {
    font-size: 0;
    line-height: 0
}

input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
/*# sourceMappingURL=common.css.map */
.hide {
    display: none;
 }

 .required {
    float: right;
    background: #ce1f12;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 4px 8px 5px;
    border-radius: 2px;
}

.changepass:hover {
    background: #fff;
    color: #3b79f2;
}

.required--text {
    color: #c82506;
    margin-top: 10px;
    font-size: 13px;
}

.alert__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    box-sizing: border-box;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.alert__modal--container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    color: #212121;
    width: 340px;
    /* border: 1px solid #fff;
    border-radius: 5px; */
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 4px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert__modal--container p {
    padding: 15px;
    margin: 0;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif!important;
    /* color: blue; */
}

.alert__modal--container span{
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.alert__modal--container img{
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
}

.required--text {
          color: #c82506;
          margin-top: 10px;
          font-size: 13px;
}

/* ADDED */

.dropdown-menu>li>a:hover {
    text-align: center;
    padding: 10px !important;
    width: 60px;
}

.dropdown-menu>li>a {
    padding: 0;
}

#dropdown {
    padding: 0 5px 0 0;
}

#dropdown .ac__list {
    width: 65% !important;
    text-align: center;
}

.dropdown-menu {
    min-width: 0!important;
}

.navigation_features .navigation__icons li {
    width: calc(100% / 3) !important;
}

.disabled {
    background: #cdcbca !important;
}

textarea.matched {
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 0;
    resize: none;
}

.detail_contents .chat_area.layout_2clm .text {
    white-space: pre;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    height: 100%;
    overflow: auto !important;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding: 60px 0 !important;
}
.modal .btn {
    width: 150px;
    margin-bottom: 25px;
}
/* Modal Content/Box */
.modal-content {    background-color: #fefefe;    margin: 5px auto; /* 15% from the top and centered */    border: 1px solid #888;    width: 80%; /* Could be more or less, depending on screen size */}
/* The Close Button */
.close {    /* Position it in the top right corner outside of the modal */    position: absolute;    right: 25px;    top: 0;     color: #000;    font-size: 35px;    font-weight: bold;
}
/* Close button on hover */
.close:hover,
.close:focus {    color: red;    cursor: pointer;}
/* Add Zoom Animation */
.animate {    -webkit-animation: animatezoom 0.6s;    animation: animatezoom 0.6s}
@-webkit-keyframes animatezoom {    from {-webkit-transform: scale(0)}     to {-webkit-transform: scale(1)}}
@keyframes animatezoom {    from {transform: scale(0)}     to {transform: scale(1)}}

/************************************************/


.confirm__modal_container {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;

    z-index: 10000;
  }
  .confirm__modal_container .confirm__modal_content {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
    max-width: 305px;
  }
  .confirm__modal_container .confirm__modal_content .modal__close {
    position: absolute;
    top:15px;
    right:15px;
    left: auto;
    display:block;
    width:25px;
    display: block;
    padding: 0;
    background: none;
  }

  .confirm__modal_container .confirm__modal_content .modal__close img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
    display: none;
    background-color: #fff;
    padding: 50px 20px 15px !important;
    border: 1px solid #ccc;
    width: 305px;
    max-width: calc(100% - 24px);
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
    display: table;
    margin: 0 auto;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
    margin: 12px;
    line-height: 1.5;
    padding: 5px;
    min-width: 100px;
    color: #fff;
    transition: all .25s ease;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
    background-color: #ce1f12;
    border: 1px solid #ce1f12;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
    color: #ce1f12;
    background-color: #fff;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
    border: 1px solid #3b79f2;
    background-color: #3b79f2;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
    color: #3b79f2;
    background-color: #fff;
  }

  .confirm__modal_container {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    z-index: 10000;
  }

  .confirm__modal_container .confirm__modal_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0;
  }

  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
    display: none;
    background-color: #fff;
    padding: 20px 20px 15px;
    border: 1px solid #ccc;
    width: 305px;
    max-width: calc(100% - 24px);
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
    display: table;
    margin: 0 auto;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
    margin: 12px;
    line-height: 1.5;
    padding: 5px;
    min-width: 100px;
    color: #fff;
    transition: all .25s ease;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
    border: 1px solid #3b79f2;
    color: #3b79f2;
    background-color: #fff;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
    color: #fff;
    background-color: #3b79f2;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
    border: 1px solid #3b79f2;
    background-color: #3b79f2;
  }
  .confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
    color: #3b79f2;
    background-color: #fff;
  }

  .changepassword{
    float: left;
    padding: 7px 12px;
    background: #3b79f2;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .changepassword:hover{
    color: #fff;
  }
  a.changepassword {
    text-decoration: none;
  }

#closeIcon{
  width: 15px;
  height: 20px;
  border-style: none;
  margin-right: -23px;
  margin-top: 3px;
}

.applyCloseIcon{
  width: 15px;
  height: 20px;
  border-style: none;
  margin-right: 0px;
  margin-top: 3px;
}
