.top_featuredjobs_container * {
  box-sizing: border-box;
  widows: 100%;}
.top_featuredjobs_container .top_1featuredjobs {
  position: relative;
}
/* 0 feature */
.top_featuredjobs_container .top_1featuredjobs .top_1featuredjobs__imgContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
}
/* 0 featured end */

/* featured common */
.top_featuredjobs_container a {
  display: block;
}

.top_featuredjobs_container img {
  width: 100%;
  height: 287px;
  object-fit: cover;
}

@media screen and (max-width: 767px){
  .top_featuredjobs_container img {
    height: auto;
  }
}

/* 1 feature */
.top_featuredjobs_container .top_1featuredjobs .top_1featuredjobs__imgContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
}

.top_1featuredjobs__imgContainer {
  display: block;
  position: relative;
}

.top_1featuredjobs__imgContainer img {
  width: 100%;
  height: 287px;
  object-fit: cover;
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
/* 1 featured end */

@media screen and (max-width: 767px){
  .top_1featuredjobs__imgContainer img {
    height: auto;
  }
}

/* 2 featured */
.top_featuredjobs_container .top_2featuredjobs .top_2featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_2featuredjobs .top_2featuredjobs__list .top_2featuredjobs__list_item {
  width: 50%;
  position: relative;
  /* height: 50%; */
  overflow: hidden;
  display: block;
}
/* 2 featured end */

/* 3 featured */
.top_featuredjobs_container .top_3featuredjobs .top_3featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_3featuredjobs .top_3featuredjobs__list .top_3featuredjobs__list_item {
  width: 33.33%;
  position: relative;
  height: 350px;
  overflow: hidden;
}
/* 3 featured end */

/* 4 featured */
.top_featuredjobs_container .top_4featuredjobs .top_4featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_4featuredjobs .top_4featuredjobs__list .top_4featuredjobs__list_item {
  width: 50%;
  position: relative;
  height: 250px;
  overflow: hidden;
}
/* 4 featured end */

/* 5 featured*/
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 {
  width: 38%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 4px;
  position: relative;
  float: left;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 {
  width: 62%;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 a {
  position: relative;
  width: 50%;
  height: 200px;
  padding-right: 4px;
  margin-bottom: 4px;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 {
    height: auto;
  }
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 a {
    display: none;
  }
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 a:first-child {
    display: block;
  }
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 a img {
    height: 404px;
    object-fit: cover;
  }
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 a {
    height: auto;
  }
  .top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 a img {
    height: 200px;
    object-fit: cover;
  }
}
/* 5 featured end */

@media (max-width: 768px) {
  .top_featuredjobs_container h2 {
    margin: auto; }
  .top_featuredjobs_container .top_featuredJob__text {
    display: table;
    width: 100%;
    padding: 7px 5px 14px 5px;
    font-size: 12px;
    line-height: 1.1;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    width: 80% } }
@media (min-width: 769px) {
  .top_featuredjobs_container h2 {
    margin: 40px auto; }
  .top_featuredjobs_container .top_featuredJob__text {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 5px 10px 7px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    line-height: 1; }
  .top_featuredjobs_container .top_featuredJob__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .top_featuredjobs_container section:last-of-type {
    margin-bottom: 40px; } }

/*# sourceMappingURL=featured.css.map */



/********************************************************
  2018.10.05 jotaki
  add 'top jobs'
*********************************************************/

.home-feature {
}

/* home-feature__search */
.home-feature__search {
}

.home-feature__searchForm {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.home-feature__searchForm p {
  font-size: 0;
  line-height: 0;
}

.home-feature__searchInput {
  width: 80%;
}

.home-feature__searchSubmit {
  width: 15%;
  margin-left: auto;
}

.home-feature__searchInput input,
.home-feature__searchSubmit input {
  outline: 0;
  box-sizing: border-box;
  background: none;
  border: 0;
  color: #000;
  padding: 0 14px;
  width: 100%;
  height: 54px;
  border-radius: 2px;
}

.home-feature__searchInput input {
  background: transparent;
  border: #ddd 2px solid;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .1em;
  transition: .2s all linear;
}
.home-feature__searchInput input::placeholder { color: #aaa; }
.home-feature__searchInput input:-ms-input-placeholder { color: #aaa; }
.home-feature__searchInput input::-ms-input-placeholder { color: #aaa; }
.home-feature__searchInput input:focus {
  border: #999 2px solid;
}

.home-feature__searchSubmit input {
  background-color: #2b61cd;
  background-image: url(../images/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: 50% 50%;
  transition: .2s all linear;
}
.home-feature__searchSubmit input:hover {
  opacity: .8;
}

/* home-feature__main */
.home-feature__main {
  display: flex;
  margin: 22px auto 0;
}

/* home-feature__ttl */
.home-feature__ttl {
  border-bottom: #2b61cd 2px solid;
  color: #2b61cd;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  letter-spacing: .025em;
  padding: 20px 0;
}

/* home-feature__top */
.home-feature__top {
  width: 65%;
}

.home-feature__topList {
}

.home-feature__topListBlock {
  margin-top: 30px;
}

.home-feature__topListGroup {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #eee 1px solid;
}

.home-feature__topListGroup:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.home-feature__topListImg {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 0;
  padding-top: 14%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-feature__topListTxt {
  margin-left: 2.5%;
  width: 50%;
}

.home-feature__topListTxt h4,
.home-feature__topListTxt h5,
.home-feature__topListTxt p {
  margin: 0;
  padding: 0;
  letter-spacing: .025em;
}

.home-feature__topListTxt h4 {
  color: #222;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-feature__topListTxt h5 {
  margin-top: 4px;
  color: #222;
  font-size: 14px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-feature__topListTxt p {
  margin-top: 6px;
  color: #666;
  font-size: 12px;
  line-height: 1.4;
}

.home-feature__topListLink {
  margin-left: auto;
  width: 18%;
}

.home-feature__topListLink h6 {
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: .025em;
  font-weight: normal;
  text-align: right;
}
.home-feature__topListLink p {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: .025em;
}
.home-feature__topListLink p a {
  color: #fff;
  display: block;
  background: #2b61cd;
  padding: 10px 10px;
  border-radius: 2px;
  transition: .2s all linear;
}
.home-feature__topListLink p a:hover,
.home-feature__topListLink p a:active,
.home-feature__topListLink p a:focus {
  text-decoration: none;
  opacity: .8;
}

/* home-feature__topListSlider */
.home-feature__topListSliderWrap {
  position: relative;
}

.home-feature__topListSlider {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.home-feature__topListSlider ul {
  list-style: none;
  box-sizing: content-box;
}

.home-feature__topListSlider ul li {
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: .2s opacity linear;
}
.home-feature__topListSlider ul li:hover {
  opacity: 0.8;
}

.home-feature__topListSlider ul li a {
  display: block;
  padding-top: 55%;
}

.home-feature__topListSliderWrap .swiper-button-prev,
.home-feature__topListSliderWrap .swiper-button-next {
  width: 20px;
  height: 33px;
  margin-top: -20px;
  cursor: pointer;
  background-size: 20px 33px;
}
.home-feature__topListSliderWrap .swiper-button-prev {
  left: 0;
}
.home-feature__topListSliderWrap .swiper-button-next {
  right: 0;
}

/* home-feature__recommend */
.home-feature__recommend {
  width: 30%;
  margin-left: auto;
}

.home-feature__ttl {
}

.home-feature__recommendListBlock {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.home-feature__recommendListGroup {
  width: 47.5%;
  margin-bottom: 20px;
}
.home-feature__recommendListGroup:nth-child(2n) {
  margin-left: auto;
}
.home-feature__recommendListImg {
  font-size: 0;
  line-height: 0;
  height: 0;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-feature__recommendListGroup h4,
.home-feature__recommendListGroup h5 {
  margin: 0;
  padding: 0;
}
.home-feature__recommendListGroup h4 {
  color: #222;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: .01em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-feature__recommendListGroup h5 {
  margin-top: 3px;
  color: #666;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: .025em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-feature__recommendListLink {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  text-align: center;
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: .025em;
}
.home-feature__recommendListLink a {
  color: #fff;
  display: inline-block;
  background: #2b61cd;
  padding: 8px 12px;
  border-radius: 2px;
  transition: .2s all linear;
}

.home-feature__recommendListLink a:hover,
.home-feature__recommendListLink a:active,
.home-feature__recommendListLink a:focus {
  text-decoration: none;
  opacity: .8;
}

@media (max-width: 768px) {
  .home-feature__searchForm {
    display: flex;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-feature__searchInput {
    width: 82.5%;
  }
  .home-feature__searchSubmit {
    width: 15%;
  }
  .home-feature__searchInput input,
  .home-feature__searchSubmit input {
    padding: 0 12px;
    height: 44px;
  }
  .home-feature__searchInput input {
    font-size: 12px;
  }
  .home-feature__searchSubmit input {
    background-size: 18px auto;
  }
  .home-feature__searchSubmit input:hover {
    opacity: 1;
  }
  /* home-feature__main */
  .home-feature__main {
    display: none;
    margin: 20px 20px 0;
  }
  /* home-feature__ttl */
  .home-feature__ttl {
    font-size: 18px;
    padding: 0 0 15px;
  }
  /* home-feature__top */
  .home-feature__top {
    width: auto;
  }
  .home-feature__topListBlock {
    margin-top: 20px;
  }
  .home-feature__topListGroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .home-feature__topListImg {
    width: 40%;
    padding-top: 25%;
  }
  .home-feature__topListTxt {
    margin-left: auto;
    width: 55%;
  }
  .home-feature__topListTxt h4 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .home-feature__topListTxt h5 {
    margin-top: 4px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .home-feature__topListTxt p {
    margin-top: 6px;
    font-size: 12px;
  }
  .home-feature__topListLink {
    width: 100%;
    margin-top: 8px;
  }
  .home-feature__topListLink h6 {
    font-size: 10px;
    line-height: 1;
    text-align: left;
  }
  .home-feature__topListLink p {
    margin-top: 6px;
    font-size: 12px;
  }
  .home-feature__topListLink p a {
    background: #2b61cd;
    padding: 10px 10px;
    transition: none;
  }
  .home-feature__topListLink p a:hover,
  .home-feature__topListLink p a:active,
  .home-feature__topListLink p a:focus {
    opacity: 1;
  }
  /* home-feature__topListSlider */
  .home-feature__topListSliderWrap {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .home-feature__topListSlider {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-feature__topListSlider ul {
    list-style: none;
    box-sizing: content-box;
  }
  .home-feature__topListSliderWrap .swiper-container {
    padding: 0;
    width: auto;
  }
  .home-feature__topListSliderWrap .swiper-container .swiper-slide {
    max-width: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    -webkit-box-shadow:  none;
  }
  .home-feature__topListSlider ul li {
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .2s opacity linear;
  }
  .home-feature__topListSlider ul li:hover {
    opacity: 0.8;
  }
  .home-feature__topListSlider ul li a {
    display: block;
    padding-top: 55%;
  }
  .home-feature__topListSliderWrap .swiper-button-prev,
  .home-feature__topListSliderWrap .swiper-button-next {
    width: 12px;
    height: 20px;
    margin-top: -12px;
    cursor: pointer;
    background-size: 12px 20px;
  }
  .home-feature__topListSliderWrap .swiper-button-prev {
    left: 0;
  }
  .home-feature__topListSliderWrap .swiper-button-next {
    right: 0;
  }
  /* home-feature__recommend */
  .home-feature__recommend {
    margin-top: 30px;
    width: auto;
  }
  .home-feature__recommendListBlock {
    margin-top: 20px;
  }
  .home-feature__recommendListGroup {
    margin-bottom: 15px;
  }
  .home-feature__recommendListImg {
    padding-top: 50%;
  }
  .home-feature__recommendListGroup h4 {
    font-size: 13px;
  }
  .home-feature__recommendListGroup h5 {
    margin-top: 3px;
    font-size: 11px;
  }
  .home-feature__recommendListLink {
    margin-top: 6px;
  }
  .home-feature__recommendListLink a {
    display: block;
    padding: 8px 12px;
    transition: none;
  }
  .home-feature__recommendListLink a:hover,
  .home-feature__recommendListLink a:active,
  .home-feature__recommendListLink a:focus {
    opacity: 1;
  }
}
