.sp {
	display: none !important
}
.header { width: 100%; background: #fff; border-bottom: 1px solid #e5e5e5; }
.navigation { width: 100%; max-width: 1600px; margin: 0 auto; padding: 0 3%; box-sizing: border-box; display: table; height: 80px;  }
.logo {	display: table-cell; vertical-align: middle; text-align: center; width: 15%; }
.logo a { display: block; transition: all .2s linear; max-width: 150px; }
.logo a:hover { opacity: .7; }
.logo a img { width: 100%; max-width: 150px; height: auto; }
.login .header { background: none; border: 0; }

.navigation__menu {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 55%
}
.navigation__menu ul {
	margin: 0 auto;
	list-style: none
}
.navigation__menu li {
	float: left;
	width: 25%;
	width: calc(100% / 4)
}
.navigation__menu li a {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 15px;
	line-height: 1;
	letter-spacing: .05em;
	transition: all .2s linear;
}
.navigation__menu li a:hover {
	text-decoration: underline;
}
.navigation__menu li:last-child {
	margin-right: 0
}

.admin_header_icon {
	float: right;
	margin: 0 0 0 0 !important;
}

.navigation_features {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 30%;
	margin: 22px 0;
    min-width: 340px;
    /* position: relative; */
}
.search__container {
	float: left;
	width: 50%;
	margin: 8px 0 0 8%;
	max-width: 200px;
	position: relative;
}
.navigation_features button {
	position: absolute;
	-webkit-appearance: none;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 0;
	outline: none;
}
.navigation_features .search_box {
	background: url(../images/button_search.svg) no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 35px;
	font-family: Arial;
	font-size: 13px;
	border: none;
	padding: 0 5px 0 35px;
}
.navigation_features .search_box:focus {
	outline: none
}
.header_kv {
	width: 100%
}
.header_kv img {
	width: 100%;
	height: auto
}
.top {
	width: 100%
}
.top .job_pagination,
.latest__job .job_pagination {
	width: 100%;
	text-align: center;
	margin: 50px auto 50px;
}
.mypageAnnoucements .top .job_pagination ul,
.latest__job .job_pagination ul {
	/* float: right; */
}
.top .job_pagination ul,
.latest__job .job_pagination ul {
	margin: 0 auto;
	display: table;
	/* margin-top: 30px; */
	list-style: none;
	float: none;
}
.top .job_pagination ul li,
.latest__job .job_pagination ul li {
	float: left;
	margin-right: 20px;
}
.top .job_pagination ul li a,
.latest__job .job_pagination ul li a {
	display: block;
	padding: 13px 18px;
	background: none;
	color: #858585;
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	border: 1px solid #858585;
	border-radius: 50px;
	transition: all .2s linear;
	box-sizing: border-box;
	position: relative
}
.top .job_pagination ul li a sup.more,
.latest__job .job_pagination ul li a sup.more {
	top: -2px; font-size: 100%; margin-right: -1px;
}
.top .job_pagination ul li a:hover,
.top .job_pagination ul li.active,
.latest__job .job_pagination ul li a:hover,
.latest__job .job_pagination ul li.active a {
	color: #fff;
	border: 1px solid transparent
}
.top .job_pagination ul li a:hover::before,
.top .job_pagination ul li.active a::before,
.latest__job .job_pagination ul li a:hover::before,
.latest__job .job_pagination ul li.active a::before {
	content: '';
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
	width: 105%;
	height: 103%;
	position: absolute;
	z-index: -1;
	top: -1px;
	left: -1px;
	border-radius: 30px;
	padding: 1px;
	border-radius: 50%
}
.top .job_pagination ul li:last-child,
.latest__job .job_pagination ul li:last-child {
	margin-right: 0
}
.top_jobs {
	width: 100%;
	max-width: 1100px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto
}
.top_jobs h2 {
	font-size: 27px;
	line-height: 1;
	text-align: center
}
.top_jobs .top_featurejobs_item {
	width: 100%;
	margin: 40px auto 0;
	height: 410px;
}
.top_jobs .top_featurejobs_item * {
	display: inline-block
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub01 {
	width: 38%;
	height: 390px;
	box-sizing: border-box;
	padding-right: 4px;
	position: relative;
	float: left;
	overflow: hidden;
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub01 img {
	width: 100%;
	height: auto;
	min-height: 390px;

	max-height: 100%;
	max-width: 100%;
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub02 {
	width: 62%
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub02 a {
	position: relative;
	width: 50%;
	height: 193px;
	padding-right: 4px;
	margin-bottom: 4px;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub02 a img {
	/*width: 100%;
	height: auto;*/
	margin: 0 auto;
	min-height: 193px;
	max-height: 100%;
	max-width: 100%;
	display: block;

}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub02 a:nth-child(even) {
	margin-right: 0
}
.top_jobs .top_featurejobs_item a {
	display: block;
	color: #fff
}
.top_jobs .top_featurejobs_item .top_featurejobs_item_sub_p {
	width: max-content;
	position: absolute;
	left: 10px;
	right: 14px;
	bottom: 10px;
	margin-bottom: 0;
	padding: 5px 10px 5px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 18px;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.top_latestjobs_item:nth-of-type(n+2) {
	margin: 75px auto 0
}
.top_latestjobs_item {
	width: 100%;
	text-align: center;
	position: relative;
	width: 100%;
	margin: 40px auto 0
}

.top_latestjobs_imgs {
	/* border: 1px solid #ccc; */
}

.top_latestjobs_imgs div img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}

.top_latestjobs_imgs .three {
	width: 33.33%;
	float: left;
	max-height: 287px;
	overflow: hidden;
}

.top_latestjobs_imgs .two {
	width: 50%;
	float: left;
	max-height: 287px;
	overflow: hidden;
}

.top_latestjobs_imgs .one {
	width: 33.3%;
	margin: 0 auto;
	max-height: 287px;
	overflow: hidden;
}

.top_latestjobs_imgs .one.default {
	width: 100%;
}

.top_latestjobs_imgs .one.default img {
	height: 287px;
	object-fit: cover;
}

/*.top_latestjobs_imgs {
	height: 250px;
	overflow: hidden
}
.top_latestjobs_imgs_three,
.top_latestjobs_imgs_two,
.top_latestjobs_imgs_one,
.top_latestjobs_imgs_zero {
	border: 1px solid #ccc;
}
.top_latestjobs_imgs_three div {
	width: 33.33%;
	float: left;
	max-height: 300px;
	overflow: hidden;
}

.top_latestjobs_imgs_three img {
	width: 100%;
	height: auto;
}

.top_latestjobs_imgs_two img {
	width: 50%;
	float: left;
}
.top_latestjobs_imgs_one img {
	width: 33.33%;
	float: left;
	margin-left: 33.33%;
}

.top_latestjobs_imgs_zero {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.top_latestjobs_imgs_zero img {
	width: 100%;
	height: auto;
}*/

.top_latestjobs_item .top_latestjobs_item_details {
	/* width: calc(100% - 40px); */
	margin-top: 35px;
	/* margin-left: 40px; */
	text-align: left
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos {
	width: 100%
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos * {
	display: inline-block
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position p a {
	text-decoration: none;
	color: #0038a8;
	font-size: 18px;
	line-height: 1;
	transition: all .2s linear;
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position p a:hover {
	opacity: .7;
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position .category_new {
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	color: #fc5a8f;
	border: 1px solid #fc5a8f;
	padding: 4px 7px;
	cursor: default
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .date_posted {
	float: right;
	color: #999;
	font-size: 15px;
	line-height: 1
}
.top_latestjobs_item .top_latestjobs_item_details h3 {
	margin-top: 15px;
	color: #000;
	font-size: 23px;
	line-height: 1.7;
	font-weight: bold;
	text-align: center;
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_description {
	margin-top: 15px;
	color: #666;
	font-size: 19px;
	line-height: 1.6
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub {
	margin-top: 25px;
	width: 100%
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub * {
	display: inline-block
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .salary_range {
	color: #0038a8;
	font-family: "Oswald", sans-serif;
	font-size: 35px;
	font-weight: 300;
	line-height: 1
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .salary_range span {
	margin-right: 10px;

}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture {
	float: right;
	margin-top: 10px
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture * {
	text-decoration: none;
	color: #666
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .skills {
	font-size: 19px;
	line-height: 1;
	margin-right: 45px;
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .skills::before {
	content: '';
	background: url("../images/icon_code.svg");
	background-size: 100% auto;
	width: 21px;
	height: 15px;
	display: inline-block;
	margin-right: 20px
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .prefecture {
	font-size: 19px;
	line-height: 1
}
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .prefecture::before {
	content: '';
	background: url("../images/icon_location.svg");
	background-size: 100% auto;
	width: 15px;
	height: 21px;
	display: inline-block;
	margin-right: 11px
}
.top_latestjobs_item .job_interested {
	display: inline-block;
	margin-top: 34px;
	margin-bottom: 25px;
	width: 312px;
	text-align: center;
	padding: 16px 0;
	border: 1px solid #0038a8;
	border-radius: 30px;
	position: relative;
	transition: all .2s linear;
	background: #fff;
}

.top_latestjobs_item .job_interested input[type="button"]:focus {
	outline: 0;
}

.top_latestjobs_item .job_interested input[type="button"] {
	color: #0038a8;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	height: auto;
	text-transform: none;
	padding: 0 16px;
}

.top_latestjobs_item .job_interested input[type="button"]:hover,
.top_latestjobs_item .job_interested input[type="button"]:focus  {
	background: transparent;
}

.top_latestjobs_item .job_interested:hover {
	border: 1px solid transparent;
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
}

.top_latestjobs_item .job_interested:hover input[type="button"] {
	color: white;
}

.top_latestjobs_item .job_interested.disabled{
	color: white;
	border: 1px solid transparent;
	background-color: #FFA500;
	cursor: no-drop;
}

.top_latestjobs_item .job_interested.disabled:hover{
	color: white;
	border: 1px solid transparent #0038a8;
	background-image: linear-gradient(to right, #FFA500 0%, #FFB432 50%, #FFBA44 100%);
	cursor:no-drop;
	/*opacity: .5;*/
}

.top_latestjobs_item .job_interested:hover::before {
	content: '';
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: -1px;
	left: -1px;
	border-radius: 30px;
}
.top_latestjobs_item .top_latestjobs_item_remove {
	display: none;
	position: absolute;
	top: 1%;
	right: 1%;
	background: #FF0000;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	width: 35px;
	height: 35px;
	padding-top: 2px;
	border: 0;
	border-radius: 50%;
	z-index: 3;
	transition: all .2s linear;
}
.top_latestjobs_item .top_latestjobs_item_remove:focus {
	outline: 0;
}
.top_latestjobs_item .top_latestjobs_item_remove:hover {
	opacity: 0.6
}
.top_latestjobs_item:hover .top_latestjobs_item_remove {
	display: block
}
.login {
	width: 100%;
	height: 100vh;
	background: url("../images/login_bg.jpg") center center no-repeat;
	background-size: cover;
	position: relative
}
.login .navigation {
	border-bottom: 0
}
.login .login_buttons {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8%;
	text-align: center
}
.login .login_buttons * {
	width: 330px;
	display: inline-block;
	padding: 21px 0;
	font-size: 18px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px
}
.login .login_buttons .button_facebook {
	background: #3b5998;
	margin-right: 30px;
	color: #fff;
	border: #3b5998 1px solid;
}

.content .header .navigation .navigation_features .login_buttons .button_login {
	width: 150px;
	display: inline-block;
	padding: 9px 0;
	font-size: 18px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px;
	float: right;
	border: 1px solid #c6d1e8;
	background: #3b5998;
	color: white;
	margin-top: 2%;
}

.content .header .navigation .navigation_features .login_buttons .button_login:hover {
	 opacity: 0.8
}
.login .login_buttons .button_facebook:hover {
	color: #3b5998;
	background: transparent;
}
.login .login_buttons .button_email {
	border: 1px solid #4caf50;
	color: #4caf50;
}
.login .login_buttons .button_email:hover {
	color: #fff;
	background: #4caf50;
}

.login .login_buttons .button_facebook,
.login .login_buttons .button_email {
	font-weight: bold;
	letter-spacing: .025em;
}

.breadcrumbs_pagetitle {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 50px 3% 0;
	box-sizing: border-box
}
.breadcrumbs_pagetitle h1 {
	font-size: 27px;
	line-height: 1;
	color: #0038a8
}
/****************************
	FOOTER
*****************************/
.footer { width: 100%; background: #000; position: relative; }
.footer .footer__content { width: 100%; padding: 0 3%; max-width: 1600px; margin: 0 auto; position: relative; }
.footer .footer__content .footer__logo { display: inline-block; padding-top: 30px; width: 156px; height: 47px; transition: all .2s linear; }
.footer .footer__content .footer__logo img { width: 100%; height: auto; }
.footer .footer__content .footer__logo:hover { opacity: .7; }
.footer .footer__content .footer__items { padding: 35px 0 26px; width: 600px; list-style: none; margin-bottom: 0; }
.footer .footer__content .footer__items li { float: left; padding: 0 7%; }
.footer .footer__content .footer__items li a { display: block; color: #fff; font-size: 14px; line-height: 1.2; letter-spacing: .05em; text-decoration: none; border-bottom: 1px solid transparent; transition: all .2s linear; }
.footer .footer__content .footer__items li:last-child { margin-bottom: 0; }
.footer .footer__content .footer__items li a:hover { border-bottom: 1px solid #fff; }
.footer .footer__content .footer__items li:first-child { padding-left: 0; }
.footer .footer__content .footer__items li:last-child { padding-right: 0; }
.footer small { position: absolute; top: 114px; right: 0; color: #fff; font-family: 'Roboto'; font-weight: 300; font-size: 12px; line-height: 1; letter-spacing: 0.2em; text-align: left; text-transform: uppercase; }
.footer .social_icons_top { position: absolute; top: 56px; right: 0; margin: 0 auto; }
.footer .social_icons_top ul { float: right; list-style: none; }
.footer .social_icons_top ul li { float: left; margin-right: 56px; }
.footer .social_icons_top ul li a { display: block; transition: all .2s linear; }
.footer .social_icons_top ul li a .footer_fb { width: 12px; height: 22px; }
.footer .social_icons_top ul li a .footer_twitter { width: 20px; height: 15px; margin-top: 6px; }
.footer .social_icons_top ul li a .footer_top { width: 20px; height: 55px; }
.footer .social_icons_top ul li a:hover { opacity: .7; }
.footer .social_icons_top ul li:nth-of-type(2) { margin-right: 0; }
.footer .social_icons_top ul li:last-child { margin-right: 0; }
.footer .footer_totop { position: absolute; top: 32%; right: 2.5%; transition: all .2s linear; }
.footer .footer_totop:hover { opacity: .7; }

.job_search {
	width: 100%;
	box-sizing: border-box;
}
.job_search .job_search_input {
	width: 100%;
	max-width: 1600px;
	padding: 0 3%;
	margin: 50px auto;
}
.job_search .job_search_input .job_search_input_item {
	display: inline-block;
	width: 50%;
	float: left;
	margin-bottom: 25px;
}
.job_search .job_search_input .job_search_input_item p {
	font-size: 18px;
	line-height: 1;
	color: #000
}
.job_search .job_search_input .job_search_input_item input[type="text"],
.job_search .job_search_input .job_search_input_item input[type="number"] {
	width: 80%;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
	color: #0038a8;
	border: 1px solid #0038a8;
	border-radius: 30px;
	outline: none
}

.job_search .job_search_input .job_search_input_item select {
	background: #fff;
	width: 80%;
	margin-top: 20px;
	padding: 11px;
	box-sizing: border-box;
	color: #0038a8;
	border: 1px solid #0038a8;
	border-radius: 30px;
	outline: none;
	-webkit-appearance: none;
}

.job_search .job_search_input .job_search_input_item input[type="number"] {
	width: 30%
}

.job_search .job_search_input .job_search_input_item span {
	margin-left: 20px;
	color: #0038a8;
	font-size: 15px;
	line-height: 1
}
.job_search .job_search_result {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 3%;
	box-sizing: border-box
}
.job_search .job_search_result h2 {
	font-size: 24px;
	line-height: 1;
	color: #0038a8
}
.job_search .job_search_result .job_search_result_item {
	width: 100%;
	margin: 50px auto
}
.job_search .job_search_result .job_search_result_item .job_search_result_numbers,
 .job_search_result_button {
	width: 50%;
	display: inline-block;
	/* background-color:white; */
}
.job_search .job_search_result .job_search_result_item .job_search_result_numbers {
	float: left
}
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p {
	display: inline-block;
	float: left;
	color: #0038a8;
	font-family: "Oswald", sans-serif;
	font-size: 35px;
	font-weight: 300;
	line-height: 1
}
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p span {
	font-size: 15px;
	margin-left: 10px
}
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p:first-child {
	margin-right: 50px
}

#job_search_result_button {
	float: right;
	max-width: 312px;
	text-align: center;
	padding: 16px 0;
	color: #0038a8;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	border: 1px solid #0038a8;
	border-radius: 30px;
	position: relative;
	transition: all .2s linear;
	background: #fff;
	margin-top: 30px;
	margin-right: 600px;
}

.job_search_result_button:hover {
	color: white!important;
	border: 1px solid transparent!important;
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%)!important;
}
.job_search_result_button:hover::before {
	content: '';
	background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: -1px;
	left: -1px;
	border-radius: 30px;
	padding: 1px
}
.latest__job {
	width: 100%;
	max-width: 1100px;
	margin: 50px auto;
	/*padding-bottom: 80px;*/
}

.latest__job .no_job_display {
	height: 100px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

/****************************
	JOB DETAILS
*****************************/
.job__details { background: #fafafa; }
.job__details header { background: #fff; }
.job__details { margin: 36px auto 50px; width: 100%; max-width: 1100px; /* jobdetails__content */ }
.job__details .featured__images { width: 100%; }
.job__details .featured__images div { float: left; width: 33.33%; height: auto; height: 290px; }
.job__details .featured__images div img { margin: 0 auto; display: block; max-width: 100%; height: 100%; }
.job__details .jobdetails__content h1 { text-align: center; margin: 10px auto; color: #212121; line-height: 1.6; }
.job__details .jobdetails__content .jobdetails__btns a { display: inline-block; margin-right: 15px; width: 150px; padding: 8px; text-align: center; font-size: 13px; line-height: 1; box-sizing: border-box; border-radius: 20px; text-decoration: none; }
.job__details .jobdetails__content .jobdetails__btns a span:first-child { display: inline-block; margin-right: 5px; }
.job__details .jobdetails__content .jobdetails__btns a span:first-child img { width: 100%; height: auto; }
.job__details .jobdetails__content .jobdetails__btns a span { vertical-align: middle; }
.job__details .jobdetails__content .jobdetails__btns a span img.off { display: none; }
.job__details .jobdetails__content .jobdetails__btns a:last-child { margin-right: 0; }
.job__details .jobdetails__content .jobdetails__btns a:hover span img.on { display: none; margin-bottom: none!important}
.job__details .jobdetails__content .jobdetails__btns a:hover span img.off { display: block; }
.job__details .jobdetails__content .jobdetails__btns .share { color: #2196f3; border: 1px solid #2196f3; }
.job__details .jobdetails__content .jobdetails__btns .share span { width: 15px; height: 14.5px; }
.job__details .jobdetails__content .jobdetails__btns .share:hover { color: #fff; background: #2196f3; border: 1px solid #2196f3; }

.job__details .jobdetails__content .jobdetails__btns .like { color: #4caf50; border: 1px solid #4caf50; }
.job__details .jobdetails__content .jobdetails__btns .like span { width: 16px; height: 15px; }
.job__details .jobdetails__content .jobdetails__btns .like:hover { color: #fff; background: #4caf50; border: 1px solid #4caf50; }

.job__details .jobdetails__content .jobdetails__btns .liked {color: #fff; background: #4caf50; border: 1px solid #4caf50;}
.job__details .jobdetails__content .jobdetails__btns .liked span { width: 16px; height: 15px; }
.job__details .jobdetails__content .jobdetails__btns .liked:hover { color: #4caf50;background:white; border: 1px solid #4caf50; }

.job__details .jobdetails__content .jobdetails__btns .favorite { color: #f44336; border: 1px solid #f44336; }
.job__details .jobdetails__content .jobdetails__btns .favorite span { width: 16px; height: 13px; }
.job__details .jobdetails__content .jobdetails__btns .favorite:hover { color: #fff; background: #f44336; border: 1px solid #f44336; }

.job__details .jobdetails__content .jobdetails__btns .favorited { color: #fff; background: #f44336; border: 1px solid #f44336; }
.job__details .jobdetails__content .jobdetails__btns .favorited span { width: 16px; height: 13px; }
.job__details .jobdetails__content .jobdetails__btns .favorited:hover {  color: #f44336; background:white; border: 1px solid #f44336;   }

.job__details .jobdetails__content .content-header{text-align: center;}
.job__details .jobdetails__content .content-header h1{
	padding: 0;
	margin-top: 30px;
	text-align: center;
	color: #212121;
	line-height: 1.6;
	letter-spacing: .025em;
}
.job__details .jobdetails__content .content-header a{text-align: center; padding: 4px; font-size: 20px; margin-bottom: 20px; text-decoration: none;}
.job__details .jobdetails__content .company__btn { margin-top: 14px; }
.job__details .jobdetails__content .company__btn h2 { float: left; margin-top: 10px; }
.job__details .jobdetails__content .company__btn h2 a { color: #424242; font-size: 15px; line-height: 1; text-decoration: none; transition: all .2s linear; }
.job__details .jobdetails__content .company__btn h2 a:hover { text-decoration: underline; }
.job__details .jobdetails__content .company__btn .jobdetails__btns { float: right; margin-right: 50px; margin-top: 20px;
}
.job__details .jobdetails__content .jobdetails__information { color: #212121; }
.job__details .jobdetails__content .jobdetails__information h3 {
	text-decoration: underline;
	margin-top: 35px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	padding-left: 0;
	padding-right: 0;
}
.job__details .jobdetails__content .jobdetails__information p { margin: 20px; font-size: 14px; line-height: 1.6; text-align: justify; word-wrap: break-word;}
.job__details .jobdetails__content .jobdetails__information .image__container { margin-top: 45px; padding-bottom: 25px; }
.job__details .jobdetails__content .jobdetails__information .image__container div { float: left; width: 49.5%; margin-right: 1%; height: 290px; background: #dbdbdb; overflow: hidden; }
.job__details .jobdetails__content .jobdetails__information .image__container div:last-child { margin-right: 0; }

.job__details .jobdetails__content .jobdetails__information .image__container div img {
	margin: 0 auto;
	display: block;
	width:100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.job__details .jobdetails__content .jobdetails__information .jobdetails__table { margin-top: 25px; width: 100%; border-collapse: collapse; table-layout: fixed;}
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td { padding: 18px 3%; font-size: 14px; line-height: 1.6; border: 1px solid #cacccf; box-sizing: border-box;	text-align: justify; word-wrap: break-word; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td:first-child { width: 22%; background: #f5f8fc; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td:last-child { background: #fff; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr:first-child td, .job__details .jobdetails__content .jobdetails__information .jobdetails__table tr:nth-of-type(2) td { padding: 25px 3%;}
.job__details .jobdetails__content .jobdetails__information .jd__applybtn { display: block; margin: 35px auto 0; width: 312px; text-align: center; padding: 16px 0; color: #0038a8; font-size: 18px; font-weight: bold; text-decoration: none; line-height: 1; border: 1px solid #0038a8; border-radius: 30px; position: relative; transition: all .2s linear; width: 60%; max-width: 492px; }
.job__details .jobdetails__content .jobdetails__information .jd__applybtn:hover,.job__details .jobdetails__content .jobdetails__information #btnApplied { border: 1px solid transparent; color: #fff; background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%); }
/* .job__details .jobdetails__content .jobdetails__information .jd__applybtn:hover::before { content: ''; background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%); width: 100%; height: 100%; position: absolute; z-index: -1; top: -1px; left: -1px; border-radius: 30px; padding: 1px; } */
.job__details .jobdetails__content .jobdetails__information .jobdetails__btns { margin-top: 25px; text-align: center; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer { margin-top: 25px; background: #fff; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer a { display: block; }

.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .feature__image {
	float: left;
	width: 35%;
	/* max-width: 300px; */
	/* height: 220px; */
	/* overflow: hidden; */
}
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .feature__image img {
	width: 100%;
	height: 274px !important;
	object-fit: cover;
}
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details {
	float: left;
	width: 65%;
	padding: 30px;
	line-height: 1.6;
	box-sizing: border-box;
}
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details a { text-decoration: none; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details h4 { color: #212121; font-size: 18px; font-weight: bold; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details p { color: #666666; font-size: 12px; overflow: hidden; display: -webkit-box;  -webkit-line-clamp: 3;  -webkit-box-orient: vertical; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items { margin-top: 20px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items a { display: inline-block; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items p { margin-top: 0; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .salary__range { color: #0038a8; font-family: "Oswald", sans-serif; font-size: 18px; font-weight: 300; line-height: 1.5; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .salary__range span { margin-left: 10px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc { float: right; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc a { display: inline-block; color: #333333; font-size: 14px; line-height: 1; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .skills:before { content: ''; background: url(../images/icon_code.svg); background-size: 100% auto; width: 21px; height: 14px; display: inline-block; margin-right: 6px; margin-bottom: -2px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .location { margin-left: 25px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .location:before { content: ''; background: url(../images/icon_location.svg); background-size: 100% auto; width: 12px; height: 16px; display: inline-block; margin-right: 6px; margin-bottom: -2px; }

/* .job__details */

.apply-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.w3-modal-content.w3-animate-top.w3-card-4 {
	width: 600px!important;
	border-radius: 4px;
	font-family: 'Oswald', sans-serif!important;
	/* width: 400px!important;
	border-radius: 30px;
	font-family: 'Oswald', sans-serif!important;
	height: 200px; */
}

.w3-modal-content .w3-container .apply-confirm-button {
	text-align: center;
	margin-bottom: 15px;
}

.w3-modal-content .w3-container .apply-confirm-button .optionBtn {
	margin-top: 15px;
	display: inline-block;
	padding: 10px;
	text-align: center;
	line-height: 1;
	text-decoration: none;
	min-width: 75px;
	border-radius: 5px;
	transition: all .2s linear;
	background-color: #3b79f2;
	color: white;
	width: 150px;
}

.modal_close {
	background-color: transparent!important;
}

.w3-modal-content.w3-animate-top.w3-card-4.payment header h2{
	font-family: 'Oswald', sans-serif!important;
	font-weight: bolder;
}

.w3-modal-content.w3-animate-top.w3-card-4 {
	margin-top: 10%;
	text-align: center;
}

.w3-modal-content.w3-animate-top.w3-card-4 .amount {
	color: red;
	font-weight: bold;
	display: block;
}

.w3-modal-content.w3-animate-top.w3-card-4.payment {
	margin-top: 0%!important;
}


.w3-container.billing_modal_body .applicant {
	margin-top: 25px;
}
.w3-modal-content .w3-container .apply-confirm-button .optionBtn:first-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
	margin-right: 15px;
}

.w3-modal-content .w3-container .apply-confirm-button .optionBtn:hover:first-child {
	background: #105aea;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:hover:first-child {
	background: #105aea;
}


.w3-modal-content .w3-container .apply-confirm-button .optionBtn:last-child {
	background: transparent;
	color: #3b79f2;
	border: 1px solid #3b79f2;
}

.w3-modal-content .w3-container .apply-confirm-button .optionBtn:hover:last-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
}


.apply-modal .apply-container {
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	width: 300px;
	padding: 25px;
	background: #fff;
	border: 1px solid #ccc;
}

.apply-modal .apply-container h3 {
	margin-top: 0 !important;
	text-align: center;
}

.apply-modal .apply-container .apply-confirm-button {
	text-align: center;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn {
	margin-top: 30px;
	display: inline-block;
	padding: 10px;
	text-align: center;
	line-height: 1;
	text-decoration: none;
	min-width: 75px;
	border-radius: 5px;
	transition: all .2s linear;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:hover:first-child {
	background: #105aea;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:first-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
	margin-right: 15px;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:last-child {
	background: transparent;
	color: #3b79f2;
	border: 1px solid #3b79f2;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:hover:last-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
}
/* apply - modal */


@media screen and (min-width: 768px) and (max-width: 1024px) {
	.navigation {
		padding: 0
	}
	.navigation .logo {
		width: 15%
	}
	.navigation .navigation__menu {
		width: 50%
	}
	.navigation .navigation__menu li a {
		font-size: 12px
	}
	.navigation .navigation_features {
		width: 35%
	}
	.top_latestjobs_item_details {
		width: 100% !important;
		margin-left: 0 !important
	}
	.salary_range {
		font-size: 35px !important
	}
	.skills {
		margin-right: 20px !important;
		font-size: 14px !important
	}
	.prefecture {
		font-size: 14px !important.footer
	}
	.salary_range {
		font-size: 4vw
	}
	.breadcrumbs_pagetitle {
		padding: 50px 0 0
	}
	.nav_notifications::before {
		right: 4% !important
	}
	.nav_notifications::after {
		right: 4% !important
	}
	.job_search_input_item input[type="text"],
	.job_search_input_item input[type="number"] {
		width: 70% !important
	}
	.div__sidebar {
		width: 25% !important
	}
	.div__2column__content {
		width: 75% !important
	}
	.comment__sender {
		width: 100% !important;
		text-align: left !important;
		margin-bottom: 10px
	}
	.footer .social_icons_top { top: 50%; }
	.footer .footer__content .footer__logo { top: 58%; } }
	.footer .footer__content .footer__items li:first-child { padding-left: 0; }
	.footer .footer__content .footer__items li { padding: 0 2%; }
	.footer .footer__content .footer__items li:last-child { padding-right: 0; }
	.footer small, .footer .social_icons_top { right: 100px; }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.login {
		background-size: auto 100%
	}
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}
/*# sourceMappingURL=pc.css.map */

/*START TOKYO OVERWRITE NICOLE - PROFILE ONLY*/