/****************************
    variable
*****************************/
/****************************
    mixin
*****************************/
/****************************
    pc
*****************************/
.pc { display: none !important; }

/**************************** HEADER
*****************************/
.header { width: 100%; }

.navigation { display: table; width: 100%; height: 45px; padding: 11px 4%; border-bottom: 1px solid #e5e5e5; box-sizing: border-box; position: relative; }

.navigation_features form {
  height: 0;
  visibility: hidden;
}

.sp__navigation {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  position: relative;
  width: 7%;
}
.sp__navigation .navigation__bar {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 100%;
  max-width: 25px;
  height: 0;
  border-top: 1px solid #000;
}
.sp__navigation:before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: 4%;
  width: 100%;
  max-width: 25px;
  height: 0;
  border-top: 1px solid #000;
}
.sp__navigation:after {
  content: '';
  display: block;
  position: absolute;
  top: 70%;
  left: 4%;
  width: 100%;
  max-width: 25px;
  height: 0;
  border-top: 1px solid #000;
}
.sp__navigation .navigation__bar,
.sp__navigation:before,
.sp__navigation:after {
  transition: all .3s linear;
}
.sp__navigation.js-open .navigation__bar {
  opacity: 0;
}
.sp__navigation.js-open:before {
  transform: translateY(10px) rotate(-45deg);
}
.sp__navigation.js-open:after {
  transform: translateY(-10px) rotate(45deg);
}

.logo { display: table-cell; vertical-align: middle; text-align: center; width: 59%; text-align: left; padding-left: 5%; }
.logo a { display: block; }
.logo a img { width: 90%; height: auto; max-width: 140px; }

.overlay { transition: all .2s linear; }
.overlay.js-nav { display: block; position: absolute; top: 101%; left: 0; width: 100%; height: 100vh; z-index: 2; background: rgba(0, 0, 0, 0.5); }

.navigation__menu.js-nav { display: block; }

.navigation__menu {
  width: 100%;
  padding: 0 20px 23px;
  box-sizing: border-box;
  position: absolute;
  top: 101%;
  left: 0;
  text-align: center;
  z-index: 3;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear;
}

.navigation__menu.js-open {
  visibility: visible;
  opacity: 1;
}

.navigation__menu .search_box { margin: 10px 0 13px; background: url("../../images/button_search_sp.svg") no-repeat center center; background-size: 100% auto; width: 100%; margin: 2% auto 0; max-width: 500px; height: 50px; border: none; padding: 2px 10px; }
.navigation__menu .search_box:focus, .navigation__menu .search_box.js-search { background: url("../../images/button_search_sp_focus.svg") no-repeat center center; background-size: 100% auto; }
.navigation__menu ul { list-style: none; }
.navigation__menu ul li { width: 100%; font-size: 13px; line-height: 1; text-align: center; border-bottom: 1px solid #f3f3f3; }
.navigation__menu ul li a { display: block; padding: 17px 0; color: #000; text-decoration: none; }
.navigation_features { display: table-cell; vertical-align: middle; text-align: center; width: 32%; }
.function-menu { list-style: none !important; min-width: 130px; }
.navigation_features ul.function-menu li.function span.icon { width: 32px !important; height: 32px !important; }
.header_kv { width: 100%; }
.header_kv img { width: 100%; height: auto; }

/**************************** TOP CONTENT *****************************/
.top { width: 100%; }
.top_jobs { width: 100%; background: #fafafa; padding-top: 20px; margin-left: auto; margin-right: auto; }
.top_jobs h2 { font-size: 16px; line-height: 1; text-align: center; }
.top_jobs:nth-of-type(2) h2 { margin-bottom: 15px; }
.top_jobs .swiper-container { width: 100%; padding: 15px 0 25px; }
.top_jobs .swiper-container .swiper-slide { width: 60%; max-width: 230px; background: #fff; text-align: center; -webkit-box-shadow: 0px 0px 14px 2px rgba(31, 23, 20, 0.08); -moz-box-shadow: 0px 0px 14px 2px rgba(31, 23, 20, 0.08); box-shadow: 0px 0px 14px 2px rgba(31, 23, 20, 0.08); }
.top_jobs .swiper-container .swiper-slide a { display: block; color: #000; text-decoration: none; }
.top_jobs .swiper-container .swiper-slide .slider__imgcontainer { width: 100%; height: 140px; border-bottom: 1px solid rgba(204, 204, 204, .5); overflow: hidden; }
.top_jobs .swiper-container .swiper-slide img { width: 100%; height: auto; min-height: 140px; }
.top_jobs .swiper-container .swiper-slide .top_featurejobs_item_sub_p { display: table; width: 100%; padding: 14px 5px; font-size: 12px; line-height: 1.1; box-sizing: border-box; }
.top_jobs .swiper-container .swiper-slide .top_featurejobs_item_sub_p p { display: table-cell; vertical-align: middle; }
.top_jobs:nth-of-type(2) { padding-top: 0; }
.top_latestjobs_item { width: 100%; text-align: center; position: relative; width: 100%; height: auto; border-bottom: 7px solid #eeeeee; }
.top_latestjobs_item img { width: 100%; height: auto; }
.top_latestjobs_item .category_new { font-size: 14px; line-height: 1; text-decoration: none; color: #fc5a8f; border: 1px solid #fc5a8f; padding: 4px 7px; cursor: default; font-size: 9px; line-height: 1; width: auto !important; padding: 2px 4px; margin-top: 2px; text-align: center; float: right; }
.top_latestjobs_item .top_latestjobs_item_details { width: 90%; margin: 15px auto 0; padding-bottom: 15px; border-bottom: 1px solid #e7e7e7; text-align: left; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos, .top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position { width: 100%; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos * { display: inline-block; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position p, .top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .job_position p a { color: #0038a8; font-size: 12px; line-height: 1; text-decoration: none; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_pos .date_posted { display: none; }
.top_latestjobs_item .top_latestjobs_item_details h3 { margin-top: 10px; font-size: 15px; line-height: 1.6; font-weight: bold; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_description { display: none; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub { margin-top: 6px; width: 100%; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub a { width: 50%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .salary_range { margin-top: 15px; color: #0038a8; font-family: "Oswald", sans-serif; font-size: 18px; font-weight: 300; line-height: 1; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .salary_range span { margin-right: 5px; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture { margin-top: 10px; text-align: right; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture * { text-decoration: none; color: #666666; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .skills { float: left; font-family: "Roboto", sans-serif; font-weight: 300; font-size: 14px; line-height: 1; text-align: left; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .skills::before { content: ''; background: url("../images/icon_code.svg"); background-size: 100% auto; margin-top: 3px; width: 12px; height: 8px; display: inline-block; margin-right: 4px; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .prefecture { float: right; font-size: 14px; line-height: 1; }
.top_latestjobs_item .top_latestjobs_item_details .top_latestjobs_item_sub .skills_prefecture .prefecture::before { content: ''; background: url("../images/icon_location.svg"); background-size: 100% auto; width: 8px; height: 11px; display: inline-block; margin-right: 5px; }
.top_latestjobs_item .job_interested { display: inline-block; width: 100%; text-align: center; padding: 13px 0; color: #0038a8; font-size: 14px; font-weight: bold; text-decoration: none; line-height: 1; position: relative; transition: all .2s linear; }
.top_latestjobs_item .job_interested input[type="button"] {
	display: inline-block;
	height: auto;
    text-align: center;
    padding: 0;
    color: #0038a8;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    position: relative;
    letter-spacing: normal;
    transition: all .2s linear;
	text-transform: none;
}
.top_latestjobs_item .job_interested input[type="button"]:focus,
.top_latestjobs_item .job_interested input[type="button"]:hover {
	background: transparent;
}
.top_latestjobs_item .job_interested:focus input[type="button"],
.top_latestjobs_item .job_interested:hover input[type="button"]  {
	color: #999;
}
.top_latestjobs_item .job_interested:before { content: ''; background: url("../images/icon_add.png"); background-size: 100% auto; width: 13px; height: 13px; display: inline-block; margin-right: 7px; }
.top_latestjobs_item .job_interested:hover { color: #999999; }
.top_latestjobs_item .job_interested:hover::before { content: ''; background: url("../images/icon_check.png"); background-size: 100% auto; width: 14px; height: 10px; margin-top: 3px; display: inline-block; margin-right: 7px; }
.top_latestjobs_item .top_latestjobs_item_remove { display: none; border-radius: 50px; background: #FF0000; color: #fff; position: absolute; text-decoration: none; right: 1%; top: 1%; z-index: 3; padding: 10px; height: 15px; transition: all .2s linear; }
.top_latestjobs_item .top_latestjobs_item_remove:hover { opacity: 0.6; }
.top_latestjobs_item:hover .top_latestjobs_item_remove { display: block; }

.top_latestjobs_imgs .one {
}

/****************************
    FOOTER
*****************************/
.footer { width: 100%; background: #000; position: relative; }
.footer .footer__content { width: 90%; margin: 0 auto; padding: 20px 0 18px;}
.footer .footer__content .footer__logo { display: block; width: 30%; }
.footer .footer__content .footer__logo img { width: 100%; height: auto; }
.footer .footer__content .footer__items { margin-top: 25px; list-style: none; }
.footer .footer__content .footer__items li { margin-bottom: 22px; }
.footer .footer__content .footer__items li a { display: block; color: #fff; font-size: 12px; letter-spacing: .05em; text-decoration: none; transition: all .2s linear; }
.footer .footer__content .footer__items li a:hover { text-decoration: underline; }
.footer .footer__content .footer__items li:last-child { margin-bottom: 0; }
.footer .copyright { border-top: 1px solid #292b2d; color: #fff; text-align: center; text-transform: uppercase; font-size: 8px; line-height: 1; letter-spacing: 0.12em; padding: 7px 0; }
.footer .social_icons_top { position: absolute; top: 50px; right: 17px; }
.footer .social_icons_top ul { list-style: none; }
.footer .social_icons_top ul li { margin-bottom: 30px; }
.footer .social_icons_top ul li a { display: block; }
.footer .social_icons_top ul li a .footer_fb { width: 9px; height: 17px; }
.footer .social_icons_top ul li a .footer_twitter { width: 14px; height: 10px; }
.footer .social_icons_top ul li a .footer_top { width: 15px; height: 46px; }
.footer small { display: block; width: 100%; border-top: 1px solid #2d2f31; padding: 8px 0; color: #fff; font-family: 'Roboto'; font-size: 10px; line-height: 1.33; letter-spacing: 0.12em; text-align: center; opacity: .6; }
/****************************
    LOGIN
*****************************/
.login { width: 100%; height: 100vh; min-height: 570px; background: url("../images/login_bg_sp.jpg") center center no-repeat; background-size: cover; position: relative; }
.login .navigation { border-bottom: 0; padding: 11px 0; }
.login .navigation__menu { display: none; }
.login .login_buttons { position: absolute; left: 0; right: 0; bottom: 30px; text-align: center; }
.login .login_buttons * { width: 76%; display: block; padding: 13px 0; font-size: 12px; line-height: 1; text-decoration: none; transition: all .2s linear; border-radius: 30px; }
.login .login_buttons .button_facebook { background: #3b5998; margin: 0 auto 15px; color: #fff; }
.login .login_buttons .button_email { border: 1px solid #c6d1e8; color: #000; margin: 0 auto; }
.login .login_buttons .button_email {
  border: 1px solid #4caf50;
  color: #4caf50;
}
.login .login_buttons .button_facebook,
.login .login_buttons .button_email {
  font-weight: bold;
  letter-spacing: .025em;
}
.login .logo { width: 100%; }
.login .logo a { text-align: left; }
.login .logo a img { width: 26%; }

@media (orientation: landscape) { .login { width: 100%; height: 100vh; min-height: 670px; } }
/****************************
    BREADCRUMBS PAGETITLE
*****************************/
.breadcrumbs_pagetitle { width: 100%; padding: 25px 5% 0; box-sizing: border-box; }
.breadcrumbs_pagetitle h1 { font-size: 18px; line-height: 1; color: #0038a8; }

/****************************
    SEARCH JOBS
*****************************/
.job_search { width: 100%; padding: 0 5%; box-sizing: border-box; }
.job_search .job_search_input { width: 100%; margin: 25px auto; }
.job_search .job_search_input .job_search_input_item { display: inline-block; width: 100%; margin-bottom: 12px; }
.job_search .job_search_input .job_search_input_item p { font-size: 13px; line-height: 1; color: #000; }
.job_search .job_search_input .job_search_input_item input[type="text"], .job_search .job_search_input .job_search_input_item input[type="number"] { width: 70%; margin-top: 20px; padding: 10px; box-sizing: border-box; color: #0038a8; border: 1px solid #0038a8; border-radius: 30px; outline: none; }
.job_search .job_search_input .job_search_input_item input[type="number"] { width: 30%; }
.job_search .job_search_input .job_search_input_item span { margin-left: 20px; color: #0038a8; font-size: 10px; line-height: 1; }
.job_search .job_search_result { width: 100%; padding: 0; box-sizing: border-box; }
.job_search .job_search_result h2 { font-size: 16px; line-height: 1; color: #0038a8; }
.job_search .job_search_result .job_search_result_item { width: 100%; margin: 25px auto; }
.job_search .job_search_result .job_search_result_item .job_search_result_numbers, .job_search .job_search_result .job_search_result_item .job_search_result_button { display: inline-block; }
.job_search .job_search_result .job_search_result_item .job_search_result_numbers { float: left; }
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p { display: inline-block; float: left; color: #0038a8; font-family: "Oswald",sans-serif; font-size: 28px; font-weight: 300; line-height: 1; }
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p span { font-size: 14px; margin-left: 5px; }
.job_search .job_search_result .job_search_result_item .job_search_result_numbers p:first-child { margin-right: 25px; }
.job_search .job_search_result .job_search_result_item .job_search_result_button { width: 312px; text-align: center; padding: 16px 0; color: #0038a8; font-size: 18px; font-weight: bold; text-decoration: none; line-height: 1; border: 1px solid #0038a8; border-radius: 30px; position: relative; transition: all .2s linear; width: 100%; margin-top: 25px; font-size: 12px; padding: 10px 0; }
.job_search .job_search_result .job_search_result_item .job_search_result_button:hover { color: #fff; border: 1px solid transparent; }
.job_search .job_search_result .job_search_result_item .job_search_result_button:hover::before { content: ''; background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%); width: 100%; height: 100%; position: absolute; z-index: -1; top: -1px; left: -1px; border-radius: 30px; padding: 1px; }

/****************************
    LATEST JOB
*****************************/
.latest__job { width: 100%; margin: 0 auto; }
.latest__job .top_jobs { background: none; padding-top: 0; }

/****************************
    JOB DETAILS
*****************************/
/****************************
    JOB DETAILS
*****************************/
.job__details { width: 100%; margin: 0 auto 25px; /* jobdetails__content */ }
.job__details .featured__images { width: 100%; }
.job__details .featured__images div { float: left; width: 33.33%; height: auto; max-height: 200px; overflow: hidden; }
.job__details .featured__images div img { width: 100%; height: auto; }
.job__details .jobdetails__content { padding: 0 10px; box-sizing: border-box; }
.job__details .jobdetails__content h1 {
  padding: 0;
  margin: 17px 0 6px;
  color: #212121;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: .025em;
}
.job__details .jobdetails__content .jobdetails__btns a { display: inline-block; width: 30.33%; padding: 8px 5px; text-align: center; font-size: 12px; line-height: 1; box-sizing: border-box; border-radius: 20px; text-decoration: none; }
.job__details .jobdetails__content .jobdetails__btns a:last-child { width: 36.33%; }
.job__details .jobdetails__content .jobdetails__btns a span:first-child { display: inline-block; margin-right: 5px; }
.job__details .jobdetails__content .jobdetails__btns a span:first-child img { width: 100%; height: auto; }
.job__details .jobdetails__content .jobdetails__btns a span { vertical-align: middle; }
.job__details .jobdetails__content .jobdetails__btns a span img.off { display: none; }
.job__details .jobdetails__content .jobdetails__btns a:last-child { margin-right: 0; }
.job__details .jobdetails__content .jobdetails__btns a:hover span img.on { display: none; }
.job__details .jobdetails__content .jobdetails__btns a:hover span img.off { display: block; }
.job__details .jobdetails__content .jobdetails__btns .share { color: #2196f3; border: 1px solid #2196f3; }
.job__details .jobdetails__content .jobdetails__btns .share span { width: 15px; height: 14.5px; }
.job__details .jobdetails__content .jobdetails__btns .share:hover { color: #fff; background: #2196f3; border: 1px solid #2196f3; }
.job__details .jobdetails__content .jobdetails__btns .like { color: #4caf50; border: 1px solid #4caf50; }
.job__details .jobdetails__content .jobdetails__btns .like span { width: 16px; height: 15px; }
.job__details .jobdetails__content .jobdetails__btns .like:hover { color: #fff; background: #4caf50; border: 1px solid #4caf50; }

.job__details .jobdetails__content .jobdetails__btns .favorite { color: #f44336; border: 1px solid #f44336; }
.job__details .jobdetails__content .jobdetails__btns .favorite span { width: 16px; height: 13px; }
.job__details .jobdetails__content .jobdetails__btns .favorite:hover { color: #fff; background: #f44336; border: 1px solid #f44336; }

.job__details .jobdetails__content .jobdetails__btns .favorited { color: #fff; background: #f44336; border: 1px solid #f44336; }
.job__details .jobdetails__content .jobdetails__btns .favorited span { width: 16px; height: 13px; }
.job__details .jobdetails__content .jobdetails__btns .favorited:hover {  color: #f44336; background:white; border: 1px solid #f44336;   }

.job__details .jobdetails__content .company__btn { margin-top: 14px; }
.job__details .jobdetails__content .company__btn h2 { margin-top: 10px; }
.job__details .jobdetails__content .company__btn h2 a { color: #424242; font-size: 15px; line-height: 1; text-decoration: none; transition: all .2s linear; }
.job__details .jobdetails__content .company__btn h2 a:hover { text-decoration: underline; }
.job__details .jobdetails__content .company__btn .jobdetails__btns { margin-top: 24px; }
.job__details .jobdetails__content .jobdetails__information { color: #212121; }
.job__details .jobdetails__content .jobdetails__information h3 {
  margin-top: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  padding-left: 0;
  padding-right: 0;
}
.job__details .jobdetails__content .jobdetails__information p { margin-top: 20px; font-size: 14px; line-height: 1.6; }
.job__details .jobdetails__content .jobdetails__information .image__container { margin-top: 22px; padding-bottom: 12px; }
.job__details .jobdetails__content .jobdetails__information .image__container div {
  display: block;
  margin: 0 0 10px !important;
  /* width: 98%; */
  /* margin: 0 1% 10px; */
  /* min-height: 290px; */
  /* max-height: 290px; */
  /* background: #dbdbdb; */
  /* overflow: hidden; */
}
.job__details .jobdetails__content .jobdetails__information .image__container div:last-child { margin-left: 1%; margin-right: 0; }
.job__details .jobdetails__content .jobdetails__information .image__container div img { width: 100%; height: auto; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table { margin-top: 25px; width: 100%; border-collapse: collapse; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td { display: block; padding: 10px 3%; font-size: 14px; line-height: 1.6; border-left: 1px solid #cacccf; border-right: 1px solid #cacccf; border-bottom: 1px solid #cacccf; box-sizing: border-box; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td:first-child { background: #f5f8fc; font-weight: bold; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr td:last-child { background: #fff; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr:first-child { border-top: 1px solid #cacccf; }
.job__details .jobdetails__content .jobdetails__information .jobdetails__table tr:first-child td, .job__details .jobdetails__content .jobdetails__information .jobdetails__table tr:nth-of-type(2) td { padding: 15px 3%; }
.job__details .jobdetails__content .jobdetails__information .jd__applybtn { display: block; margin: 35px auto 0; width: 312px; text-align: center; padding: 16px 0; color: #0038a8; font-size: 18px; font-weight: bold; text-decoration: none; line-height: 1; border: 1px solid #0038a8; border-radius: 30px; position: relative; transition: all .2s linear; font-size: 13px; padding: 8px 0; width: 250px; max-width: 492px; }
.job__details .jobdetails__content .jobdetails__information .jd__applybtn:hover,.job__details .jobdetails__content .jobdetails__information #btnApplied { border: 1px solid transparent; color: #fff; background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%); }
/* .job__details .jobdetails__content .jobdetails__information .jd__applybtn:hover::before { content: ''; background-image: linear-gradient(to right, #0038a8 0%, #2872eb 50%, #3e90fe 100%); width: 100%; height: 100%; position: absolute; z-index: -1; top: -1px; left: -1px; border-radius: 30px; padding: 1px; } */
.job__details .jobdetails__content .jobdetails__information .jobdetails__btns { margin-top: 25px; text-align: center; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer { margin-top: 25px; background: #fff; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer a { display: block; }

.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .feature__image {
  display: block;
  width: 100%;
  overflow: hidden;
}

.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .feature__image img {
  width: 100%;
  height: auto !important;
}

.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details { display: block; width: 100%; line-height: 1.2; box-sizing: border-box; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details a { text-decoration: none; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details h4 { margin-top: 10px; color: #212121; font-size: 15px; font-weight: bold; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details p { margin-top: 10px; color: #666666; font-size: 12px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items { margin-top: 20px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items a { display: inline-block; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items p { margin-top: 0; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .salary__range { color: #0038a8; font-family: "Oswald", sans-serif; font-size: 18px; font-weight: 300; line-height: 1; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .salary__range span { font-size: 12px; margin-left: 10px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc { margin-top: 10px; width: 100%; float: right; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc a { width: 48%; display: inline-block; color: #333333; font-size: 14px; line-height: 1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc a:first-child { display: none; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .skills { float: left; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .skills:before { content: ''; background: url(../images/icon_code.svg); background-size: 100% auto; width: 21px; height: 14px; display: inline-block; margin-right: 6px; margin-bottom: -2px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .location { float: right; margin-left: 5px; }
.job__details .jobdetails__content .jobdetails__information .jd__companyoffer .details .sub__items .skills__loc .location:before { content: ''; background: url(../images/icon_location.svg); background-size: 100% auto; width: 12px; height: 16px; display: inline-block; margin-right: 6px; margin-bottom: -2px; }

/* .job__details */


.apply-modal {
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.apply-modal .apply-container {
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	width: 250px;
	padding: 25px;
	background: #fff;
	border: 1px solid #ccc;
}

.apply-modal .apply-container h3 {
	margin-top: 0 !important;
	text-align: center;
}

.apply-modal .apply-container .apply-confirm-button {
	text-align: center;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn {
	margin-top: 30px;
	display: inline-block;
	padding: 10px;
	text-align: center;
	line-height: 1;
	text-decoration: none;
	min-width: 75px;
	border-radius: 5px;
	transition: all .2s linear;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:hover:first-child {
	background: #105aea;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:first-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
	margin-right: 15px;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:last-child {
	background: transparent;
	color: #3b79f2;
	border: 1px solid #3b79f2;
}

.apply-modal .apply-container .apply-confirm-button .optionBtn:hover:last-child {
	background: #3b79f2;
	color: #fff;
	border: 1px solid #3b79f2;
}
/* apply - modal */

/*# sourceMappingURL=sp.css.map */
