a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 0.5em;
}

ul#nav li { display: inline; }

ul#nav li {
  list-style: none;
  background-color: #039;
  border-top: solid 1px #039;
  text-align: left;
  margin: 0;
}

ul#nav li a {
  display: block;
  text-decoration: none;
  padding: .25em;
  border-bottom: solid 1px #39f;
  border-right: solid 1px #39f;
}

/**************************************************************************
* 2018/03/20 Louie: we need to have global css that is common for all
**************************************************************************/

.company__file {
  width: 300px;
}

.required {
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  padding: 4px 8px 5px;
  border-radius: 2px;
  color: #fff;
  background: #ce1f12;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.025em;
}

.js-span_error{
  font-weight: bold;
}

.fl_left{
  float: left;
}

.fl_right{
  float: right;
}

.fl_none{
  float:none;
}
