<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <!-- meta -->
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if IE]><meta http-equiv="Imagetoolbar" content="no" /><![endif]-->

  <!-- favicon -->
  <meta name="msapplication-TileImage" content="../../assets/img/common/favicon/msapplication-TileImage.png" />
  <meta name="msapplication-TileColor" content="#000" />
  <link rel="apple-touch-icon" href="../../assets/img/common/favicon/apple-touch-icon.png" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../../assets/img/common/favicon/favicon.png" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="../../assets/img/common/favicon/favicon.png" />

  <!-- js -->
  <script type="text/javascript" src="../../assets/js/common/jquery/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="../../assets/js/admin/import-login.js"></script>
  <script type="text/javascript" src="../../assets/js/admin/global-admin.js"></script>

  <!-- css -->
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/admin/login.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/admin/newlogin.css" />

  <!-- title -->
  <title>Job Serch ログイン | LEAP Work</title>

</head>
<body>
  <a href="" id="main__pageBtn">Back to Main Page</a>
  <main id="login-view">
    <figure class="logo">
      <img src="{{url('images/common/icon/header-logo.svg')}}" alt="">
    </figure>
    <div class="panel">
      <div class="inner">
        <p class="service-title">
          Job Search 
        </p>
        <ul class="list">
          <li class="item">
            <input type="text" name="id" id="login_id" placeholder="ユーザーID">
          </li>
          <li class="item">
            <input type="password" name="pw" id="login_pw" placeholder="パスワード">
          </li>
        </ul>
        <div class="checkbox-wrapper">
          <label>
            <input type="checkbox" name="autoLogin" class="checkbox-input">
            <span for="autoLogin" class="checkbox-parts">次回からログインを保持する</span>
          </label>
        </div>
        <div class="menu">
          <button class="btn">ログイン</button>
        </div>
        <div class="regfor">
          <span class="reg">Register</span>
          <span class="for">Forgot Password</span>
        </div>
        <div class="facebook_btn">
          <p class="fb_or">OR</p>
          <a href="" class="fb__Btn">Login with Facebook</a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>