
div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span a:hover {
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:focus {
  background-color: #e5e5e5;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.4rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color:  #444343;
  border: 1px solid  #444343;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #444343;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
  background-color: #d34031;
  border: 1px solid #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red:hover {
  border: 1px solid #ac3125;
  background-color: #ac3125;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(110px);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.account a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-account-active.png);
}
main#account-view div.content-inner > div.section .table .tbody .tr .td:nth-child(1) {
  width: 80px;
}
main#account-view div.content-inner > div.section .table .tbody .tr .td:nth-child(1) span.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 33px auto;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}


.access__rights:first-child {
  padding-top: 0;
}

.access__rights:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}


.access__rights {
  padding: 10px 15px;
  border-bottom: 1px dashed #ccc;
}

.ar--item input[type="radio"] {
  display: none;
}

.access__rights span {
  width: 200px;
}

.access__rights span,
.ar--item {
  display: inline-block;
}

.ar--item label {
  min-width: 100px;
  font-size: 12px;
  line-height: 1;
  padding: 8px 30px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

input[type="radio"]:checked + label {
  background: #00A2FF;
  border: 1px solid #00A2FF;
  color: #fff;
}

main.company-create-view div.content-inner > div.section .table .tbody .tr .td:nth-child(1) {
  width: 250px !important;
}

main.company-create-view div.content-inner > div.section .table.form .tbody .tr .td input,
main.company-create-view div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: auto !important;
}

.create__address .td:nth-child(1) {
  vertical-align: top;
}

/* main.company-create-view div.content-inner > div.section .table.form .tbody .create__address .td input {
  width: 100% !important;
} */

.create__address input[type="text"] {
  display: block;
  margin-bottom: 10px;
}

.create__address input[type="text"]:last-child {
  margin-bottom: 0;
}

main.company-create-view div.content-inner > div.section .table.form .tbody .create__address .td input[type="text"]:not(:first-child) {
  width: 100% !important;
  max-width: 500px;
}

main.company-create-view div.btn-wrapper {
  width: 280px;
  margin: 0 auto;
}

main.company-create-view div.btn-wrapper a {
  float: left;
  margin: 0;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background: transparent;
  color: #3b79f2;
  border: 1px solid #3b79f2;
}

main.company-create-view div.btn-wrapper a:hover {
  background: #3b79f2;
  color: #fff;
  border: 1px solid #3b79f2;
}

main.company-create-view div.btn-wrapper button {
  float: right;
}

div.content-wrapper main.company-create-view div.content-inner {
  padding-bottom: 30px;
}



/*****************************************
  MAIL TEMPLATE - NICOLE 171205
******************************************/

/* INDEX */

div.content-wrapper main#mail-template-view div.content-inner > div.section .table .tbody .tr .td:nth-of-type(1) {
  text-align: left;
}

div.content-wrapper main#mail-template-view div.content-inner > div.section .table .tbody .tr .td:nth-of-type(2) {
  width: 100px;
}
/* /CREATE */

div.content-wrapper main#account-create .create__address .td:nth-of-type(2) input:first-child {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 6px 10px;
}

div.content-wrapper main#account-create div.content-inner .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  color: #3b79f2;
  background: transparent;
  border: 1px solid #3b79f2;
}

div.content-wrapper main#account-create div.content-inner .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
}

div.content-wrapper main div.content-inner .btn-wrapper a.btn,
div.content-wrapper main div.content-inner .btn-wrapper button {
  min-width: 125px;
}

div.content-wrapper main#account-create div.content-inner .btn-wrapper a.btn:hover,
div.content-wrapper main#account-create div.content-inner .btn-wrapper button:hover,
div.content-wrapper main#account-create div.content-inner .btn-wrapper a.btn:focus,
div.content-wrapper main#account-create div.content-inner .btn-wrapper button:focus {
  color: #3b79f2;
}

div.content-wrapper main#account-create div.content-inner .btn-wrapper a.alt-btn:hover,
div.content-wrapper main#account-create div.content-inner .btn-wrapper button.alt-btn:hover,
div.content-wrapper main#account-create div.content-inner .btn-wrapper a.btn.alt-btn:focus,
div.content-wrapper main#account-create div.content-inner .btn-wrapper button.alt-btn:focus {
  color: #fff;
}

/* /EDIT */

div.content-wrapper main#mail-template-edit div.content-inner {
  text-align: center;
}

div.content-wrapper main#mail-template-edit div.content-inner > div.section .table .tbody .tr .td:nth-of-type(1) {
  width: 250px;
}

div.content-wrapper main#mail-template-edit div.content-inner > div.section .table .table.inner {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper {
  display: inline-block;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  color: #3b79f2;
  background: transparent;
  border: 1px solid #3b79f2;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper a.btn,
div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper button {
  min-width: 125px;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper a.btn:hover,
div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper button:hover {
  color: #3b79f2;
}

div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper a.btn.alt-btn:hover,
div.content-wrapper main#mail-template-edit div.content-inner .btn-wrapper button.alt-btn:hover {
  color: #fff;
}

div.content-wrapper main#mail-template-edit div.content-inner textarea {
  line-height: 1.2;
}

/* DETAIL */

div.content-wrapper main#mail-template-detail div.content-inner {
  text-align: center;
}

div.content-wrapper main#mail-template-detail div.content-inner .btn-wrapper a.btn:first-child {
  color: #3b79f2;
  background: transparent;
  border: 1px solid #3b79f2;
  margin-right: 0;
}

div.content-wrapper main#mail-template-detail div.content-inner .btn-wrapper a.btn:first-child:hover {
  background: #3b79f2;
  color: #fff;
}

div.content-wrapper main#mail-template-detail div.content-inner .btn-wrapper a.btn:hover,
div.content-wrapper main#mail-template-detail div.content-inner .btn-wrapper button:hover {
  color: #fff;
}

div.content-wrapper main#mail-template-detail div.content-inner .btn-wrapper a.btn {
  min-width: 125px;
}


.user__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.user__modal_container .user__modal_content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.user__modal_container .user__modal_content .user__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  //width: 100%;
  width: auto;
  max-width: 1305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
.user__modal_container .user__modal_content .user__modal_dialog .table {
  width: auto !important;
  max-width: 100vw;
  margin-bottom: 20px !important;
  box-shadow: none;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns {
  display: table;
  margin: 0 auto;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .user__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}
.user__modal_dialog .table .tbody .td {
  width: auto !important;
}
.user__modal_dialog .table .tbody .td:nth-of-type(2) p {
  margin: 0 !important;
  text-align: left;
}
#so_master_job_position_industry_id {
  margin-top: 10px;
}
#txt_user_postalCode {
  margin-bottom: 10px;
  height: 35px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
}

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;

  z-index: 10000;
}
.confirm__modal_container .confirm__modal_content {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 305px;
}
.confirm__modal_container .confirm__modal_content .modal__close {
  position: absolute;
  top:15px;
  right:15px;
  left: auto;
  display:block;
  width:25px;
  display: block;
  padding: 0;
  background: none;
}

.confirm__modal_container .confirm__modal_content .modal__close img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 50px 20px 15px !important;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.confirm__modal_container .confirm__modal_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
}

.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  border: 1px solid #3b79f2;
  color: #3b79f2;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #fff;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}