div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
  line-height: 1.2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a {
  text-decoration: underline;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #105aea;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color: #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
  background-color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red:hover {
  background-color: #ac3125;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(110px);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.applicant a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-applicant-active.png);
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(1) {
  width: 200px;
  text-align: left;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(2) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(3) {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(4) {
  width: 120px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) {
  width: 120px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span {
  display: inline-block;
  width: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1.3rem;
  line-height: normal;
  color: #fff;
  min-width: 125px;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.new {
  background-color: #32CD32;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.adjusting {
  background-color: #ebaf04;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.not-adopted {
  background-color: #d34031;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.adoption {
  background-color: #3b79f2;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.accepted {
  background-color: #008000;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(6) {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(1) {
  text-align: left;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(2) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(2) span.num {
  padding: 0 0 0 30px;
  background-image: url(../../images/common/icon/header-comment.png);
  background-size: 20px;
  background-position: left;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(3) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-detail header h2.title span.comment {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 25px;
  background-image: url(../../images/common/icon/header-comment.png);
  background-size: 20px;
  background-position: left;
}
main#applicant-view div.content-inner > div.section.questioner-detail header h2.title span.comment a {
  color: inherit;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area {
  padding: 20px;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline {
  min-height: 300px;
  max-height: 600px;
  margin: 0 0 20px;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message {
  margin: 0 0 20px;
  position: relative;
  overflow: visible;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message figure.icon-area {
  width: 45px;
  position: absolute;
  left: 5px;
  bottom: 0;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message figure.icon-area span.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area {
  width: calc(100% - 50px);
  padding: 20px;
  margin: 0 0 0 50px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -18px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  z-index: 2;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -19px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #e5e5e5;
  z-index: 1;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine figure.icon-area {
  left: auto;
  right: 5px;
  bottom: 0;
  text-align: right;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area {
  margin: 0 50px 0 0;
  background-color: #cadbfc;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area:before {
  left: auto;
  right: -9px;
  border-left: 10px solid #cadbfc;
  border-right: none;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area:after {
  left: auto;
  right: -10px;
  border-left: 10px solid #e5e5e5;
  border-right: none;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area textarea {
  width: 100%;
  height: 120px;
  border: 2px solid #aaa;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area .btn-wrapper {
  display: inline-block;
}
.modal .modal-wrap ul.user-info .item {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.modal .modal-wrap ul.user-info .item .title {
  float: left;
  width: 80px;
  font-size: 1.3rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item .text-area {
  float: right;
  width: calc(100% - 100px);
}
.modal .modal-wrap ul.user-info .item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.modal .modal-wrap ul.user-info .item.name .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 16px;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}
.modal .modal-wrap ul.user-info .item.name .text-area {
  width: calc(100% - 45px);
}
.modal .modal-wrap ul.user-info .item.name .text-area p.text {
  font-size: 1.8rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item.education .text-area .text .eriod {
  font-size: 1.2rem;
  color: #666;
}
.modal .modal-wrap ul.user-info .item.education .text-area .text .school-name {
  font-size: 1.5rem;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text {
  margin: 0 0 10px;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text:last-child {
  margin: 0;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text .eriod {
  font-size: 1.2rem;
  color: #666;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text .company-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list {
  margin: 0 0 10px;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list:last-child {
  margin: 0;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list dt {
  font-weight: bold;
}

/**********************
  NICOLE 11212017
**********************/

.timeline__container {
  overflow-y: scroll;
  margin-bottom: 20px;
}

.icon_mail {
  width: 33px;
  height: 26px;
  background: url(../../images/applicant/icon_mail.png) no-repeat;
  background-size: 100% auto;
}

.icon-area .user__label { display: none; transition: all .2s linear; }

.message .icon-area:hover .user__label {
  display: block;
  position: absolute;
  top: 80%;
  left: 0;
  white-space: nowrap;
  padding: 3px 10px 0;
  background: rgba(0,0,0, .4);
  font-size: 12px;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1;
  text-align: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 3;
}

.message.mine .icon-area:hover .user__label {
  display: block;
  position: absolute;
  top: 80%;
  left: auto;
  right: 0;
  white-space: nowrap;
  padding: 3px 10px 0;
  background: rgba(0,0,0, .4);
  color: white;
  line-height: 1;
  text-align: center;
  z-index: 3;
}

.message .icon-area .user__label .text-area--date {
  display: block;
  font-size: 10px;
  padding: 3px 0;
}

.message.mine .text-area {
  text-align: right;
  position: relative;
}

/**********************************************
  MEMO - NICOLE 11272017
***********************************************/

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 250px;
}

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr:nth-child(2) .td:nth-child(1) {
  vertical-align: top;
}

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr .td input, div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  height: 250px;
}

.memo {
  margin-top: 20px;
}

.memo a.btn {
  float: none !important;
}


/**********************************************
  RESUME - NICOLE 11282017
***********************************************/

div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 200px;
}

div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr:nth-last-child(-n+2) .td:nth-child(1),
div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr:nth-child(6) .td:nth-child(1) {
  vertical-align: top;
}

.resume {
  position: relative;
}

.resume table {
  width: 100%;
  background: #fff;
}

.table__resume {
  margin-bottom: 30px;
}

.table__resume th,
.table__resume td {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.table__resume th {
  text-align: left;
  width: 200px;
}

.table__resume tr:nth-last-child(-n+2) th,
.table__resume tr:nth-last-child(-n+2) td,
.table__resume tr:nth-child(9) th,
.table__resume tr:nth-child(9) td,
.resume__innertbl th,
.resume__innertbl td {
  border-bottom: 0;
}

.table__resume .clear {
  padding: 0;
}

.resume table.resume__innertbl {
  width: auto;
}

.resume table.resume__innertbl th,
.resume table.resume__innertbl td {
  width: auto;
  min-width: 130px;
  max-width: 700px;
}

.resume__innertbl {
  table-layout: fixed;
  font-size: 13px;
  margin: 0 20px 25px;
}

.resume__innertbl th,
.resume__innertbl td {
  border: #ddd 1px solid;
  padding: 10px 10px;
}

.resume__innertbl th {
  background: #f5f5f5;
}

.table__resume .resume__innertbl:last-child th,
.table__resume .resume__innertbl:last-child td {
  border: #ddd 1px solid;
}

.resume .resume__imgcontainer {
  position: absolute;
  background: url('../../images/icon_defaultprofilepic.png') center center;
  background-size: 100% auto;
  top: 28px;
  right: 40px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.resume .resume__imgcontainer img {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.job-applicant .comment_list .list_title_wrap .list_title {
  /* margin-top: 12px; */
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.content-wrapper {
  width: auto !important;
}

.comment_list {
  width: 100% !important;
  min-width: 800px;
}

.global-nav .list .item {
  border-bottom: none !important;
  background: none !important;
}

.global-nav .list {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.detail_contents {
  padding: 35px 50px;
  background: #e5e5e5;
}

.detail_contents_new {
  position: relative;
  /*display: none;*/
}

.detail_contents_new .js_closebtn {
  position: absolute;
  top: 17px;
  right: 25px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: all .2s linear;
}

.detail_contents_new table {
  background: #fff;
  border-radius: 5px;
}

.detail_contents_new .form_area th, .detail_contents_new .form_area td {
  display: block;
  border: none;
}

.detail_contents_new .form_area th, .detail_contents_new .form_area td {
  padding: 10px;
}

.detail_contents_new .newdetail_header .title_name {
  float: left;
  font-weight: bold;
  margin-top: 10px;
}

.detail_contents_new .newdetail_header .template_container {
  float: right;
}

select {
  min-width: 150px;
}

.job-applicant .detail_contents_chat {
  padding: 20px 0;
  position: relative;
  background-color: #f8f9fb;
}

.job-applicant .detail_contents_chat .tab_area {
  background-color: #f8f9fb;
}

.job-applicant .detail_contents_chat .detail_contents_newbtn {
  margin-bottom: -5px;
}

div.content-wrapper main.resume-view div.content-inner {
  padding-bottom: 0;
}

.job-applicant .chat_area.layout_2clm {
  margin-top: 15px;
}

.job-applicant .comment_list .label {
  top: 8px;
}

#job-application a.btn:hover {
}

/* #applicant-details */

#applicant-details {
  text-align: center;
}

#applicant-details .btn-wrapper {
  display: inline-block;
}

#applicant-details .btn-wrapper * {
  float: left !important;
}

#applicant-details .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  background: #fff;
  color: #3b79f2;
  border: 1px solid #3b79f2;
  margin: 0 10px 0 0;
}

#applicant-details .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
  border: 1px solid #3b79f2;
}

/* APPLICATION QUESTIONNAIRE DETAIL  */

.applicant-qdetail .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  background: #fff;
  color: #3b79f2;
  border: 1px solid #3b79f2;
}

.applicant-qdetail .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
}

#btnNewMail {
  position: absolute;
  top: 20px;
  right: 45px;
  height      : 25px;
  line-height : 25px;
  text-align  : center;
  width       : auto;
  border      : 0px;
  padding-left:10px;
  padding-right:10px;
  min-width:100px;
}

.btnBackReinput {
  background: #fff !important;
  border: 1px solid #3b79f2;
  color: #3b79f2 !important;
}

.btnBackReinput:hover {
  background: #3b79f2 !important;
  border: 1px solid #3b79f2;
  color: #fff !important;
}

.ctxtInput {
  padding: 20px;
}div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
  line-height: 1.2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a {
  text-decoration: underline;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #105aea;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color: #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
  background-color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red:hover {
  background-color: #ac3125;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(110px);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.applicant a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-applicant-active.png);
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(1) {
  width: 200px;
  text-align: left;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(2) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(3) {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(4) {
  width: 120px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) {
  width: 120px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span {
  display: inline-block;
  width: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1.3rem;
  line-height: normal;
  color: #fff;
  min-width: 125px;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.new {
  background-color: #32CD32;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.adjusting {
  background-color: #ebaf04;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.not-adopted {
  background-color: #d34031;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.adoption {
  background-color: #3b79f2;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(5) span.accepted {
  background-color: #008000;
}
main#applicant-view div.content-inner > div.section.applicant-index .table .tbody .tr .td:nth-child(6) {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(1) {
  text-align: left;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(2) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(2) span.num {
  padding: 0 0 0 30px;
  background-image: url(../../images/common/icon/header-comment.png);
  background-size: 20px;
  background-position: left;
}
main#applicant-view div.content-inner > div.section.questioner-index .table .tbody .tr .td:nth-child(3) {
  width: 100px;
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-detail header h2.title span.comment {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 25px;
  background-image: url(../../images/common/icon/header-comment.png);
  background-size: 20px;
  background-position: left;
}
main#applicant-view div.content-inner > div.section.questioner-detail header h2.title span.comment a {
  color: inherit;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area {
  padding: 20px;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline {
  min-height: 300px;
  max-height: 600px;
  margin: 0 0 20px;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message {
  margin: 0 0 20px;
  position: relative;
  overflow: visible;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message figure.icon-area {
  width: 45px;
  position: absolute;
  left: 5px;
  bottom: 0;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message figure.icon-area span.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area {
  width: calc(100% - 50px);
  padding: 20px;
  margin: 0 0 0 50px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -18px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  z-index: 2;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message div.text-area:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -19px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #e5e5e5;
  z-index: 1;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine figure.icon-area {
  left: auto;
  right: 5px;
  bottom: 0;
  text-align: right;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area {
  margin: 0 50px 0 0;
  background-color: #cadbfc;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area:before {
  left: auto;
  right: -9px;
  border-left: 10px solid #cadbfc;
  border-right: none;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area ul.timeline li.message.mine div.text-area:after {
  left: auto;
  right: -10px;
  border-left: 10px solid #e5e5e5;
  border-right: none;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area {
  text-align: center;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area textarea {
  width: 100%;
  height: 120px;
  border: 2px solid #aaa;
}
main#applicant-view div.content-inner > div.section.questioner-detail div.chat-area div.input-area .btn-wrapper {
  display: inline-block;
}
.modal .modal-wrap ul.user-info .item {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.modal .modal-wrap ul.user-info .item .title {
  float: left;
  width: 80px;
  font-size: 1.3rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item .text-area {
  float: right;
  width: calc(100% - 100px);
}
.modal .modal-wrap ul.user-info .item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.modal .modal-wrap ul.user-info .item.name .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 16px;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}
.modal .modal-wrap ul.user-info .item.name .text-area {
  width: calc(100% - 45px);
}
.modal .modal-wrap ul.user-info .item.name .text-area p.text {
  font-size: 1.8rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item.education .text-area .text .eriod {
  font-size: 1.2rem;
  color: #666;
}
.modal .modal-wrap ul.user-info .item.education .text-area .text .school-name {
  font-size: 1.5rem;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text {
  margin: 0 0 10px;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text:last-child {
  margin: 0;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text .eriod {
  font-size: 1.2rem;
  color: #666;
}
.modal .modal-wrap ul.user-info .item.company .text-area .text .company-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list {
  margin: 0 0 10px;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list:last-child {
  margin: 0;
}
.modal .modal-wrap ul.user-info .item.skill .text-area .skill-list dt {
  font-weight: bold;
}

/**********************
  NICOLE 11212017
**********************/

.timeline__container {
  overflow-y: scroll;
  margin-bottom: 20px;
}

.icon_mail {
  width: 33px;
  height: 26px;
  background: url(../../images/applicant/icon_mail.png) no-repeat;
  background-size: 100% auto;
}

.icon-area .user__label { display: none; transition: all .2s linear; }

.message .icon-area:hover .user__label {
  display: block;
  position: absolute;
  top: 80%;
  left: 0;
  white-space: nowrap;
  padding: 3px 10px 0;
  background: rgba(0,0,0, .4);
  font-size: 12px;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1;
  text-align: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 3;
}

.message.mine .icon-area:hover .user__label {
  display: block;
  position: absolute;
  top: 80%;
  left: auto;
  right: 0;
  white-space: nowrap;
  padding: 3px 10px 0;
  background: rgba(0,0,0, .4);
  color: white;
  line-height: 1;
  text-align: center;
  z-index: 3;
}

.message .icon-area .user__label .text-area--date {
  display: block;
  font-size: 10px;
  padding: 3px 0;
}

.message.mine .text-area {
  text-align: right;
  position: relative;
}

/**********************************************
  MEMO - NICOLE 11272017
***********************************************/

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 250px;
}

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr:nth-child(2) .td:nth-child(1) {
  vertical-align: top;
}

div.content-wrapper main.memo-view div.content-inner > div.section .table.form .tbody .tr .td input, div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  height: 250px;
}

.memo {
  margin-top: 20px;
}

.memo a.btn {
  float: none !important;
}


/**********************************************
  RESUME - NICOLE 11282017
***********************************************/

div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 200px;
}

div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr:nth-last-child(-n+2) .td:nth-child(1),
div.content-wrapper main.resume-view div.content-inner > div.section .table.form .tbody .tr:nth-child(6) .td:nth-child(1) {
  vertical-align: top;
}

.resume {
  position: relative;
}

.resume table {
  width: 100%;
  background: #fff;
}

.table__resume {
  margin-bottom: 30px;
}

.table__resume th,
.table__resume td {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.table__resume th {
  text-align: left;
  width: 200px;
}

.table__resume tr:nth-last-child(-n+2) th,
.table__resume tr:nth-last-child(-n+2) td,
.table__resume tr:nth-child(9) th,
.table__resume tr:nth-child(9) td,
.resume__innertbl th,
.resume__innertbl td {
  border-bottom: 0;
}

.table__resume .clear {
  padding: 0;
}

.resume table.resume__innertbl {
  width: auto;
}

.resume table.resume__innertbl th,
.resume table.resume__innertbl td {
  width: auto;
  min-width: 130px;
}

.resume__innertbl {
  table-layout: fixed;
  font-size: 13px;
  margin: 0 20px 25px;
}

.resume__innertbl th,
.resume__innertbl td {
  border: #ddd 1px solid;
  padding: 10px 10px;
}

.resume__innertbl th {
  background: #f5f5f5;
}

.table__resume .resume__innertbl:last-child th,
.table__resume .resume__innertbl:last-child td {
  border: #ddd 1px solid;
}

.resume .resume__imgcontainer {
  position: absolute;
  background: url('../../images/icon_defaultprofilepic.png') center center;
  background-size: 100% auto;
  top: 28px;
  right: 40px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.resume .resume__imgcontainer img {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.job-applicant .comment_list .list_title_wrap .list_title {
  /* margin-top: 12px; */
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.content-wrapper {
  width: auto !important;
}

.comment_list {
  width: 100% !important;
  min-width: 800px;
}

.global-nav .list .item {
  border-bottom: none !important;
  background: none !important;
}

.global-nav .list {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.detail_contents {
  padding: 35px 50px;
  background: #e5e5e5;
}

.detail_contents_new {
  position: relative;
  /*display: none;*/
}

.detail_contents_new .js_closebtn {
  position: absolute;
  top: 17px;
  right: 25px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: all .2s linear;
}

.detail_contents_new table {
  background: #fff;
  border-radius: 5px;
}

.detail_contents_new .form_area th, .detail_contents_new .form_area td {
  display: block;
  border: none;
}

.detail_contents_new .form_area th, .detail_contents_new .form_area td {
  padding: 10px;
}

.detail_contents_new .newdetail_header .title_name {
  float: left;
  font-weight: bold;
  margin-top: 10px;
}

.detail_contents_new .newdetail_header .template_container {
  float: right;
}

select {
  min-width: 150px;
}

.job-applicant .detail_contents_chat {
  padding: 20px 0;
  position: relative;
  background-color: #f8f9fb;
}

.job-applicant .detail_contents_chat .tab_area {
  background-color: #f8f9fb;
}

.job-applicant .detail_contents_chat .detail_contents_newbtn {
  margin-bottom: -5px;
}

div.content-wrapper main.resume-view div.content-inner {
  padding-bottom: 0;
}

.job-applicant .chat_area.layout_2clm {
  margin-top: 15px;
}

.job-applicant .comment_list .label {
  top: 8px;
}

#job-application a.btn:hover {
}

/* #applicant-details */

#applicant-details {
  text-align: center;
}

#applicant-details .btn-wrapper {
  display: inline-block;
}

#applicant-details .btn-wrapper * {
  float: left !important;
}

#applicant-details .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  background: #fff;
  color: #3b79f2;
  border: 1px solid #3b79f2;
  margin: 0 10px 0 0;
}

#applicant-details .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
  border: 1px solid #3b79f2;
}

/* APPLICATION QUESTIONNAIRE DETAIL  */

.applicant-qdetail .btn-wrapper a.btn {
  height: 45px;
  line-height: 45px;
  background: #fff;
  color: #3b79f2;
  border: 1px solid #3b79f2;
}

.applicant-qdetail .btn-wrapper a.btn:hover {
  background: #3b79f2;
  color: #fff;
}

#btnNewMail {
  position: absolute;
  top: 20px;
  right: 45px;
  height      : 25px;
  line-height : 25px;
  text-align  : center;
  width       : auto;
  border      : 0px;
  padding-left:10px;
  padding-right:10px;
  min-width:100px;
}

.btnBackReinput {
  background: #fff !important;
  border: 1px solid #3b79f2;
  color: #3b79f2 !important;
}

.btnBackReinput:hover {
  background: #3b79f2 !important;
  border: 1px solid #3b79f2;
  color: #fff !important;
}

.ctxtInput {
  padding: 20px;
}

.jobDesc {
  word-wrap: break-word;
}