@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,700');
.flex {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
}
.flex-between {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
}
.flex-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari（PC）用 ---*/
  justify-content: center;
}
.flex-end {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: end;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: end;
  /*--- IE10 ---*/
  -webkit-justify-content: flex-end;
  /*--- safari（PC）用 ---*/
  justify-content: flex-end;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari（PC）用 ---*/
  align-items: center;
}
.flex-self-center {
  -ms-flex-flex-item-align: center;
  /*--- IE10 ---*/
  -webkit-align-self: center;
  /*--- safari（PC）用 ---*/
  align-self: center;
}
.flex-self-end {
  -ms-flex-flex-item-align: flex-end;
  /*--- IE10 ---*/
  -webkit-align-self: flex-end;
  /*--- safari（PC）用 ---*/
  align-self: flex-end;
}
.flex-self-start {
  -ms-flex-flex-item-align: flex-start;
  /*--- IE10 ---*/
  -webkit-align-self: flex-start;
  /*--- safari（PC）用 ---*/
  align-self: flex-start;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.br-none br {
  display: none;
}
.text-ry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-none {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.box-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #2f2f2f;
  text-decoration: none;
}
/* RESET */
html {
  box-sizing: border-box;
  overflow-y: auto;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
*,
::before,
::after {
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
}
* {
  background-repeat: no-repeat;
  /* 1 */
  padding: 0;
  /* 2 */
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
  /* 1 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
small {
  font-size: 80%;
  /* 1 */
}
[hidden],
template {
  display: none;
  /* 1 */
}
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */
}
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
  /* 1 */
}
ul {
  list-style-type: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
}
b,
strong {
  font-weight: bolder;
  /* 1 */
}
dfn {
  font-style: italic;
  /* 1 */
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
input {
  border-radius: 0;
}
[type="number"] {
  width: auto;
  /* 1 */
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* 1 */
}
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
}
optgroup {
  font-weight: bold;
  /* 1 */
}
button {
  overflow: visible;
  /* 1 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border: 1px solid #3b79f2;
  /* 2 */
}
button,
select {
  text-transform: none;
  /* 1 */
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  /* 1*/
  -webkit-appearance: none;
  /* 2 */
}
select::-ms-expand {
  display: none;
  /* 1 */
}
select::-ms-value {
  color: currentColor;
  /* 1 */
}
legend {
  border: 0;
  /* 1*/
  color: inherit;
  /* 2 */
  display: table;
  /* 3 */
  max-width: 100%;
  /* 4 */
  white-space: normal;
  /* 5 */
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
img {
  border-style: none;
  width:50%;
  margin:auto;
  /* 1 */
}
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
  /* 1 */
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
/* INTERFACE */
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.4rem;
  color: #212121;
  background-color: #f5f6f9;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animated {
  opacity: 0;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0038a8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 45px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #fff;
  color: #3b79f2;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #d34031;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ac3125;
  border-color: #d34031;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 35px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
select {
  padding: 0 10px;
  line-height: 35px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #3b79f2;
  outline: 0;
}
label,
legend {
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: normal;
  line-height: 1.5em;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-input {
  display: none;
}
.checkbox-wrapper .checkbox-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts {
  color: #169d5a;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #169d5a;
  border-right: 3px solid #169d5a;
}
.modal .checkbox {
  display: none;
}
/* Gray background */
.modal .modal-overlay {
  opacity: 0;
  transition: all 0.3s ease;
  width: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: none;
  background-color: rgba(50, 50, 50, 0.7);
}
/* Box */
.modal .modal-wrap {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
  padding: 40px 50px;
  width: 60%;
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.modal .modal-wrap.small {
  width: 30%;
}
.modal .modal-wrap.full {
  width: 100%;
  height: 100%;
}
.modal .modal-wrap.a-center {
  align-self: center;
}
.modal .modal-wrap.from-left {
  transform: translateX(-100%);
}
.modal .modal-wrap.from-right {
  transform: translateX(100%);
}
.modal .modal-wrap.from-top {
  transform: translateY(-100%);
}
.modal .modal-wrap.from-bottom {
  transform: translateY(100%);
}
/* Close button */
.modal .modal-overlay .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close svg.icon {
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close:hover {
  cursor: pointer;
  color: #4b5361;
}
.modal .o-close {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}
.modal input:checked ~ .o-close {
  z-index: 9998;
}
.modal input:checked ~ .modal-overlay {
  transform: scale(1);
  opacity: 1;
  z-index: 9997;
  overflow: auto;
  display: flex;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(0);
  z-index: 9999;
}
/* Responsive Design */
/* Tablet size */
@media (max-width: 800px) {
  .modal .modal-wrap {
    width: 80%;
    padding: 20px;
  }
}
/* Phone size */
@media (max-width: 500px) {
  .modal .modal-wrap {
    width: 90%;
  }
}
/* Fadein from display:none */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
.panel {
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  background-color: #fff;
}
.panel .inner {
  padding: 30px 50px;
  margin-bottom: 60px;
}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.cf {
  zoom: 1;
}
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
p {
  font-size: 1.4rem;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #0038a8;
}
a.btn {
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
a.btn:hover {
  background-color: #fff;
  color: #3b79f2;
}
a.btn.alt-btn {
  background-color: #fff;
  color: #3b79f2;
}
a.btn.alt-btn:hover {
  background-color: #3b79f2;
  color: #fff;
}
a.btn.red {
  border: 1px solid #d34031;
  background-color: #d34031;
  color: #fff;
}
a.btn.red:hover {
  background-color: #fff;
  color: #d34031;
}
a.btn.blue {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
  color: #fff;
}
a.btn.blue:hover {
  background-color: #fff;
  color: #3b79f2;
}
a.btn.green {
  border: 1px solid #169d5a;
  background-color: #169d5a;
  color: #fff;
}
a.btn.green:hover {
  background-color: #fff;
  color: #169d5a;
}
a.btn.grey {
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}
a.btn.grey:hover {
  background-color: #fff;
  color: #333;
}
div.btn-wrapper {
  padding: 10px;
  text-align: center;
}
div.btn-wrapper a.btn {
    height: 45px;
    line-height: 3;
}
span.red {
  color: #d34031;
}
span.blue {
  color: #3b79f2;
}
span.green {
  color: #169d5a;
}
span.darkgreen{
  color: #156d41;
}
span.bold {
  color: #333;
  font-weight: bold;
}
small {
  font-size: 1.2rem;
}
header#global-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header#global-header div.inner {
  height: 80px;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}
header#global-header div.inner figure.logo {
  float: left;
  width: 150px;
  margin: 0;
}
header#global-header div.inner figure.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner figure.logo a:hover {
  opacity: 0.8;
}
header#global-header div.inner figure.logo a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
header#global-header div.inner ul.function-menu {
  float: right;
  display: inline-block;
  padding: 7px 0 0;
}
header#global-header div.inner ul.function-menu li.function {
  float: left;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
header#global-header div.inner ul.function-menu li.function span.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip {
  display: none;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: -15px;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:after {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #e5e5e5;
  position: absolute;
  right: 20px;
  top: -21px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item span.user-icon {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #8a8a8a;
  position: absolute;
  left: 10px;
  top: calc(50% - 12px);
}
header#global-header div.inner ul.function-menu li.function.notice span.icon {
  background-image: url('../../images/common/icon/header-notice.png');
  position: relative;
}
header#global-header div.inner ul.function-menu li.function.notice span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip {
  width: 300px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: right;
  overflow: hidden;
  position: relative;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item a {
  color: #636b6f;
  text-decoration: none;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:first-child span.user-icon {
  top: calc(50% - 10px);
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item p.text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  -webkit-margin-after: 10px;
  text-align: left;
  padding-left: 40px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more {
  background-color: #3b79f2;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
header#global-header div.inner ul.function-menu li.function.user span.icon {
  /* background-image: url('../../images/common/icon/header-user.png'); */
  /* background-color: #0038a8; */
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip {
  width: 150px;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:last-child {
  margin: 0;
  border-bottom: none;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item a:hover {
  background-color: #dbe7ff;
}
div.content-wrapper {
  height: 100%;
  padding: 80px 0 0;
  overflow: hidden;
  position: relative;
}
div.content-wrapper aside#sidebar {
  width: 250px;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper aside#sidebar::-webkit-scrollbar {
  display: none;
}
div.content-wrapper aside#sidebar div.menu-btn {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper aside#sidebar div.menu-btn:hover {
  color: #0038a8;
  background-color: #e5e5e5;
}
div.content-wrapper aside#sidebar div.menu-btn img {
  width: 20px;
  height: 20px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item {
  height: 50px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 70px;
  line-height: 50px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  background-position: 40px center;
  background-size: 20px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item a:hover {
  color: #0038a8;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.dashboard a {
  background-image: url(../../images/common/icon/nav-dashboard.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.dashboard a:hover {
  background-image: url(../../images/common/icon/nav-dashboard-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.companies a {
  background-image: url(../../images/common/icon/nav-company.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.companies a:hover {
  background-image: url(../../images/common/icon/nav-company-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.billing a {
  background-image: url(../../images/common/icon/nav-billing.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.billing a:hover {
  background-image: url(../../images/common/icon/nav-billing-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.ranking a {
  background-image: url(../../images/common/icon/nav-analytics.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.ranking a:hover {
  background-image: url(../../images/common/icon/nav-analytics-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.notice a {
  background-image: url(../../images/common/icon/nav-notice.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.notice a:hover {
  background-image: url(../../images/common/icon/nav-notice-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.contact a {
  background-image: url(../../images/common/icon/nav-contact.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.contact a:hover {
  background-image: url(../../images/common/icon/nav-contact-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.master-admin a {
  background-image: url(../../images/common/icon/nav-account.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.master-admin a:hover {
  background-image: url(../../images/common/icon/nav-account-active.png);
}
div.content-wrapper aside#sidebar.side-open {
  width: 50px;
}
div.content-wrapper aside#sidebar.side-open div.menu-btn {
  text-align: center;
  padding: 15px;
  margin: 0;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item {
  text-align: center;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item a {
  padding: 0;
  background-position: 15px center;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item a span {
  display: none;
}

@media screen and (max-width: 767px){
  header#global-header div.inner {
    padding: 15px 20px;
  }

}

#closeIcon{
  width: 15px;
  height: 20px;
  border-style: none;
  margin-right: -23px;
  margin-top: 3px;
}

.jobCloseIcon{
  width: 15px;
  height: 20px;
  border-style: none;
}

#confirmCompanyContainer{
  margin: 0% 40px 0% 50px;
}

#notif_title{
  font-size: 12px;
  float: left;
}

#notif_content{
  font-size: 12px;
  float: left;
}

#notif_link{
  text-align: left;
  color:black;
}