div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  //padding: 20px 20px 100px;
  padding: 20px 20px 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}

div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}

div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item button{
  height: 35px;
  line-height: 1;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 100px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}

div.content-wrapper main.content-main div.content-inner > div.section .table .td.password_panel input[type=password]{
  width: 350px;
  display: block;
  margin-bottom: 15px;
}
.input_confirmpassword{
  width: 350px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.alt-btn {
  background-color: #fff;
  color: #3b79f2;
  border: 1px solid #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.alt-btn:hover {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
 color: #d34031 !important;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.blue {
 color: #3b79f2 !important;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.green {
 color: #169d5a !important;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.yellow {
 color: #f7b92b !important;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.black {
 color: #000 !important;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.status {
  cursor: default;
  border: unset !important;
  background-color: unset !important;
  font-weight: bolder;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.status:active {    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: unset;
  -webkit-box-shadow: unset;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
/* postal */
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td #txt_company_postalcode {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
/* postal */
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.companies a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-company-active.png);
}

/**************************
  NICOLE 171123
**************************/

div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item.item--company {
  float: right;
  margin: 0;
}

.item--company a {
  margin-top: 23px;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  color: #3b79f2;
}

.item--company a:hover,
.item--company a:focus {
  background: #3b79f2;
  color: #fff;
}

/* COMPANY PROFILE */

div.content-wrapper main.content-main div.edit-view > div.section .table.form .tbody .address .td input:first-child {
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

div.content-wrapper main.content-main div.edit-view > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 250px;
}


/* TABLE COMPANY */

div.content-wrapper main.content-main div.edit-view > div.section table tbody tr td select:not(:first-child) {
  margin-top: 15px;
}

div.content-wrapper main.content-main div.edit-view > div.section table tbody .address td input:not(:first-child) {
  margin-top: 15px;
}

.table__company {
  width: 100%;
  padding: 25px;
}

.table__company tr th,
.table__company tr td {
  padding: 15px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #e8e8e8;
}

.table__company tr th {
  width: 200px;
}

.table__company input {
  width: 100%;
}

#frmCompanies .content-inner {
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .item--company {
    float: none;
  }
}

/************************************************/
/*Added by Alvin for admin/inquiry/details.blade.php*/
.message_contents{
  /*white-space: pre-line !important;*/
  word-wrap: break-word;
  max-width: calc(100% - 70px);
  padding: 15px 15px;
  border-radius: 8px;

}

.message_contents.left{
  /*background-color: #e5e5e5;*/
  color: #333131;
}

/************************************************/
/*Added by Ryan for admin/companies/*/
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr.trCompanyFiles {
  display: block;
}


div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr.trCompanyFiles .td{
  width: 100% !important;
  display: block;
}

span.sub__text {
  font-size: 75%;
  color: #C82506;
}

/************************************************/


.btnRemoveCompanyFile {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.btnRemoveCompanyFile img {
  width: 100%;
  height: auto;
}



/************************************************/


.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;

  z-index: 10000;
}
.confirm__modal_container .confirm__modal_content {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 305px;
}
.confirm__modal_container .confirm__modal_content .modal__close {
  position: absolute;
  top:15px;
  right:15px;
  left: auto;
  display:block;
  width:25px;
  display: block;
  padding: 0;
  background: none;
}

.confirm__modal_container .confirm__modal_content .modal__close img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 50px 20px 15px !important;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.confirm__modal_container .confirm__modal_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
}

.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  border: 1px solid #3b79f2;
  color: #3b79f2;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #fff;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}


/************************************************/

#dv_company_logo,
#dv_company_banner,
#dv_company_intro_image {
  position: relative;
  top: 0;
  left: 0;
}

#dv_company_logo img,
#dv_company_banner img,
#dv_company_intro_image img {
  height: auto;
}

#dv_company_logo a img,
#dv_company_banner a img,
#dv_company_intro_image a img {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 410px;
}


/************************************************/
#txt_date_registered, #txt_date_lastlogin, #txt_keyword, #txt_title_new, #txt_message_new, .ctxtInput{
  background: white!important;
}



/*
.alert__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;

  z-index: 10000;
}
.alert__modal_container .alert__modal_content {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 305px;
}
.alert__modal_container .alert__modal_content .modal__close {
  position: absolute;
  top:15px;
  right:15px;
  left: auto;
  display:block;
  width:25px;
  display: block;
  padding: 0;
  background: none;
}

.alert__modal_container .alert__modal_content .modal__close img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.alert__modal_container .alert__modal_content .modal__close img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.alert__modal_container .alert__modal_content .alert__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 50px 20px 15px !important;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}

p.blue {
  color: #0038a8;
}

p.red {
  color: #FF0000;
}
.input_password{
  width: 350px;
  margin-bottom: 15px;

}
.input_confirmpassword{
  width: 350px;
} */

