div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.alt-btn {
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.alt-btn:hover {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td.title select,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.master-admin a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-account-active.png);
}/*
main#master-admin-view form , main#master-admin-view header { min-width: 1100px; }
 */
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td {
  text-align: left;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td figure.thumb {
  width: 240px;
  margin: 0;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td figure.thumb img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td h2.title {
  font-size: 2.0rem;
  margin: 0 0 5px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td p.text {
  margin: 0 0 5px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.index .table .tr .td p.term {
  font-size: 1.2rem;
  color: #3b79f2;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list {
  padding: 20px 0 0;
  overflow: hidden;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category {
  float: left;
  width: calc(33.33333% - 10px);
  margin: 0 15px 15px 0;
  padding: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category:nth-child(3n) {
  margin: 0 0 15px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category h2.title {
  font-size: 1.5rem;
  margin: 0 0 5px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category ul.list {
  height: 200px;
  margin: 0 0 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow-y: scroll;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category ul.list li.item {
  padding: 5px 10px;
  font-size: 1.3rem;
  background-size: 10px;
  background-position: calc(100% - 10px);
  cursor: pointer;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category ul.list li.item:hover {
  background-color: #eeb5af;
 /*  background-image: url(../../images/common/icon/nav-close.svg); */
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category div.add-area {
  overflow: hidden;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category div.add-area input {
/*   float: left; */
  width: calc(100% - 100px);
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-category ul.category-list li.category div.add-area button {
  float: right;
  width: 90px;
  height: 35px;
  padding: 0 25px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list {
  padding: 20px 0 0;
  overflow: hidden;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill {
  max-width: 550px;
  margin: 0 auto 10px;
  padding: 0 0 20px;
  //border-bottom: 1px solid #e5e5e5;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill h2.title {
  font-size: 1.5rem;
  margin: 0 0 5px;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill ul.list {
  height: 200px;
  margin: 0 0 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow-y: scroll;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill ul.list li.item {
  padding: 5px 10px;
  font-size: 1.3rem;
  background-size: 10px;
  background-position: calc(100% - 10px);
  cursor: pointer;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill ul.list li.item:hover {
  background-color: #eeb5af;
  /* background-image: url(../../images/common/icon/nav-close.svg); */
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill div.add-area {
  overflow: hidden;
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill div.add-area span {
  float: left;
  width: calc(100% - 100px);
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill div.add-area span input {
  width: calc(50% - 7px);
}
main#master-admin-view div.content-inner > div.section .tab .tab-boxes .box.job-skill ul.skill-list li.skill div.add-area button {
  float: right;
  width: 90px;
  height: 35px;
  padding: 0 25px;
}
main#master-admin-view div.content-inner > div.section.mail-template .table .tbody .tr .td {
  text-align: left;
}
main#master-admin-view div.content-inner > div.section.mail-template .table .tbody .tr .td:last-child {
  width: 100px;
  text-align: center;
}
main#master-admin-view div.content-inner > div.section.setting .table .tbody .tr .td:nth-child(1) {
  width: 40px;
  text-align: center;
}
main#master-admin-view div.content-inner > div.section.setting .table .tbody .tr .td:nth-child(1) span.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 32px auto;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  /* background-color: #0038a8; */
}

main#master-admin-view div.content-inner > div.section.setting .table .tbody .tr .td:nth-child(1) span.icon img{
  margin-top: -4%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow:hidden;
}

.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@-o-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
.glyphicon-alert:before{content:"\e209"}

/*****************************
  CREATE -- NICOLE 171123
*****************************/

.create h2.page__header {
  background: #fff;
  padding: 25px 20px;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section.create .table {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.create input[type="text"],
.create select {
  display: block;
}

.period input {
  display: inline-block !important;
  width: 150px !important;
}

main#master-admin-view div.content-inner > div.section.setting.create .table .tbody .tr .td:nth-child(1) {
  width: auto;
  text-align: left;
  padding: 15px 20px;
}

div.content-wrapper main.content-main div.content-inner > div.section.create .table .tbody .tr .td {
  text-align: left;
}

.create__fullname input[type="text"] {
  display: inline-block;
}

.create__fullname input[type="text"]:first-child {
  margin-right: 10px;
}

.create__address .td:nth-child(1) {
  vertical-align: top;
}

.create__address input:first-child {
  margin-top: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 6px 10px;
}

.create__address input[type="text"]:not(:first-child) {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}

.access__rights:first-child {
  padding-top: 0;
}

.access__rights:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}


.access__rights {
  padding: 10px 15px;
  border-bottom: 1px dashed #ccc;
}

.ar--item input[type="radio"] {
  display: none;
}

.access__rights span {
  width: 200px;
}

.access__rights span,
.ar--item {
  display: inline-block;
}

.ar--item label {
  min-width: 100px;
  font-size: 12px;
  line-height: 1;
  padding: 8px 30px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

input[type="radio"]:checked + label {
  background: #00A2FF;
  border: 1px solid #00A2FF;
  color: #fff;
}

main#master-admin-view div.content-inner > div.section.setting.create .table .tbody .tr:last-child .td:nth-child(1){
  vertical-align: top;
}

div.content-wrapper main.content-main div.content-inner > div.section .table .tr.company__row {
  display: none;
}

div.content-wrapper main.content-main.job_admin_view  header.pan-area,
div.content-wrapper main.content-main.job_admin_view  div.content-inner {
  min-width: 1200px;
}

.btn:hover,
.btn:focus {
  color: #3b79f2;
}

.btn {
  min-width: 125px;
  border: 1px solid #3b79f2;
}

.btn-wrapper .btn.back {
  margin: 0 10px 0 0;
  background: transparent;
  color: #105aea;
  border: 1px solid #105aea;
  height: 45px;
  line-height: 45px;
}

.btn-wrapper .btn.back:hover {
  background: #105aea;
  color: #fff;
}

.saveButton, .removeButton {
  height: 35px !important;
}

.spanDelete {
 float: right;
}


/* <DELETE MODAL CONFIRMATION> */

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.confirm__modal_container .confirm__modal_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.confirm__modal_container .confirm__modal_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}



.user__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.user__modal_container .user__modal_content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.user__modal_container .user__modal_content .user__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  //width: 100%;
  width: auto;
  max-width: 1305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
.user__modal_container .user__modal_content .user__modal_dialog .table {
  width: auto !important;
  max-width: 100vw;
  margin-bottom: 20px !important;
  box-shadow: none;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns {
  display: table;
  margin: 0 auto;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .user__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}
.user__modal_dialog .table {
  display: table;
}
.user__modal_dialog .table .tbody {
  display: table-row-group;
}
.user__modal_dialog .table .tbody .tr {
  display: table-row
}
.user__modal_dialog .table .tbody .td {
  width: auto !important;
  display: table-cell;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.4rem;
  vertical-align: middle;
}
.user__modal_dialog .table .tbody .tr:last-child .td {
  border-bottom: 0;
}
.user__modal_dialog .table .tbody .td:nth-of-type(2) p {
  margin: 0 !important;
  text-align: left;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns {
  display: table;
  margin: 20px auto 0;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .user__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .delete_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.user__modal_container .user__modal_content .user__modal_dialog .user__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}
#so_master_job_position_industry_id {
  margin-top: 10px;
}
h2 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}

/* </DELETE MODAL CONFIRMATION> */


#tab-box2{
  display: none;
}

#closeIcon{
  width: 15px;
  height: 20px;
  border-style: none;
}

/************************************************/


.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;

  z-index: 10000;
}
.confirm__modal_container .confirm__modal_content {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 305px;
}
.confirm__modal_container .confirm__modal_content .modal__close {
  position: absolute;
  top:15px;
  right:15px;
  left: auto;
  display:block;
  width:25px;
  display: block;
  padding: 0;
  background: none;
}

.confirm__modal_container .confirm__modal_content .modal__close img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 50px 20px 15px !important;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  background-color: #ce1f12;
  border: 1px solid #ce1f12;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #ce1f12;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}

.confirm__modal_container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.confirm__modal_container .confirm__modal_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
}

.confirm__modal_container .confirm__modal_content .confirm__modal_dialog {
  display: none;
  background-color: #fff;
  padding: 20px 20px 15px;
  border: 1px solid #ccc;
  width: 305px;
  max-width: calc(100% - 24px);
  display: table;
  margin: 0 auto;
  text-align: center;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns {
  display: table;
  margin: 0 auto;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .confirm__btn {
  margin: 12px;
  line-height: 1.5;
  padding: 5px;
  min-width: 100px;
  color: #fff;
  transition: all .25s ease;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user{
  border: 1px solid #3b79f2;
  color: #3b79f2;
  background-color: #fff;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .save_user:hover {
  color: #fff;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user {
  border: 1px solid #3b79f2;
  background-color: #3b79f2;
}
.confirm__modal_container .confirm__modal_content .confirm__modal_dialog .confirm__modal_btns .spare_user:hover {
  color: #3b79f2;
  background-color: #fff;
}

#newUserSpan{
  margin-right: 30px!important;
  width: 36px!important;
}

.userInfoCloseIcon {
  width: 15px;
  height: 20px;
  border-style: none;
  float: right;
}

.removeButton {
  display: inline-block;
  height: 45px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: red!important;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid red!important;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}

.removeButton:hover{
  background-color: #fff!important;
  color: red!important;
}

.btn.del-btn {
  font-size: 1.2rem;
  background: #fff!important;
  border: 1px solid red!important;
  color: red!important;
  height: 24px;
  line-height: 24px;
  padding: 0 14px;
}

.btn.del-btn:hover {
  color: #fff!important;
  background: red!important;
}