#main__pageBtn {
	width: 130px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding: 12px 10px;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px;
	background: #3b5998;
	float: right;
  position: absolute;
  right: 0;
  top: 25px;
}

.regfor {
	text-align: center;
	margin-top: 20px;
}

.regfor .ref {
	margin: 20px;
}

.regfor .for {
	margin: 20px;
}

.facebook_btn {
	border-top: solid #ccc;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	position: relative;
}

.fb_or {
	width: 30px;
	position: absolute;
	top: -12px;
	left: 45%;
	font-weight: bold;
	color: #ccc;
	text-align: center;
	background: #fff;
}

.fb__Btn {
	width: 150px;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding: 12px 10px;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px;
	background: #3b5998;
}